<div class="container">
  <%
    tips = current_user.tips.select_tips_by_tipable_type_and_tipable_id("GroupGroupship",@group_groupship.id)
    tips.each do |tip|
      tip.destroy
    end
    applied_group = @group_groupship.applied_group
    target_group = @group_groupship.target_group
  %>
  <div class="row">
    <div class="span9">
      <%= render 'group_invitationships/invitation_info', :invitation => @group_groupship, :initiate_group => applied_group %>

    <div style="clear: both;">
      <%= render 'comments/comment_group_item', :group => applied_group %>
      <%= render 'comments/comment_group_item', :group => target_group %>
    </div>
      <span class="pull-right" style="display: none">
        <%= link_to "评论", new_group_groupship_comment_path(@group_groupship, :type => "group_groupship_comment"),
          :id => "comment_btn", :remote => true %>
      </span>
      <div style="clear:both;font-size: 16px;margin-top: 10px;">评论：</div>
      <% comments = @group_groupship.comments %>
      <%= render 'comments/show_comments', :comments => comments %>
      <input class="span9 reply_input" placeholder="评论..." style="display: block;">
      <div id="reply_form">
      </div>
    </div>

    <div class="span3">
    </div>
  </div>
</div>
<script>
$(function(){
  $('#comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});
$(function(){
  $('.reply_input').click(function(){
    $('#comment_btn').click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

$(function(){
  $('.hide_remain_link').click(function(){
    tmp = $(this).siblings('.reply_status_contents').find('.remain_link').parent("div");
    tmp.css("display","block");
    tmp.siblings(".remain_status").css("display","none");
    $(this).css("display","none");
  });
});
</script>
