<% content_for :stylesheet  do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides", "chosen", "homepage", "bootswatch" %>
<% end %>
<script type="text/javascript">
var swfu;
window.onload = function() {
  var settings = {
    flash_url : '<%= asset_path("swfupload.swf") %>',
    upload_url: '/profiles/update',
    file_post_name: "avatar",
    post_params: { "<%= Rails.application.config.session_options[:key]%>" : "<%= cookies[Rails.application.config.session_options[:key]]%>",
      "authenticity_token" : "<%=form_authenticity_token -%>",
      "user_id" : "<%= @user.id %>",
      "flag" : "1"},
    file_size_limit : "100 MB",
    file_types : "*.png;*.jpg;*.jpeg,*.pjpeg;*.bmp;*.gif",
    file_types_description : "All Files",
    file_upload_limit : 100,
    file_queue_limit : 0,
    prevent_swf_caching : false,
    custom_settings : {
    //  progressTarget : "fsUploadProgress",
      //  cancelButtonId : "btnCancel"
      upload_target : "divFileProgressContainer"
    },
    debug: false,
    // Button settings
    button_image_url: '/images/upload_image_btn.png',
    button_width: "100",
    button_height: "30",
    button_placeholder_id: "spanButtonPlaceHolder",
    button_text: '<span class="theFont">上传头像</span>',
    button_text_style: ".theFont { font-size: 16; }",
    button_text_left_padding: 12,
    buttonn_text_top_padding: 10,
    // The event handler functions are devisefined in handlers.js
   // file_queued_handler : fileQueued,
    file_queue_error_handler : fileQueueError,
    file_dialog_complete_handler : fileDialogComplete,
   // upload_start_handler : uploadStart,
    upload_progress_handler : uploadProgress,
    upload_error_handler : uploadError,
    upload_success_handler : uploadSuccess,
    upload_complete_handler : uploadComplete,
  //  queue_complete_handler : queueComplete// Queue plugin event
  };
  swfu = new SWFUpload(settings);
};
</script>
<div class="container">
  <div class="clearfix">
    <div class="row main">
      <%
          @profile = current_user.profile
          style_str = @profile.style
          @profile.style = str_to_array(style_str)
          @profile.hobby = str_to_array(@profile.hobby)
          if @profile.lover_style != nil
            @profile.lover_style = str_to_array(@profile.lover_style)
          end
      %>
      <%= simple_form_for @profile, :url => user_profiles_path(current_user), 
        :html => {:class => "form-horizontal profiles"} do |f|%> 
        <div class="span3 sidenav">
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;" id="avatar">
              <%= safe_image_tag(current_user.profile.avatar_url(:thumb), 'secure.gravatar.com.jpg') %>
            </div>
            <!--
            <input class="btn" value="修改头像" id="upload_btn" style="width:80px;margin-top:10px" />
            <div style="display: none" id="upload_original_btn">
              <%= f.file_field :avatar%>
              <script type="text/javascript">
                $('#upload_btn').click(function(){
                  $('#profile_avatar').click();
                });
              </script>
            </div>
            -->
            <span id="spanButtonPlaceHolder"></span>
            <div id="divFileProgressContainer" style="height: 75px;display: none"></div>
            <!--
            <div id="thumbnails"></div>
            -->
          </div>
        </div>

        <div class="span9 profile-style" id="profile">
          <div class="accordion" id="accordion2">
            <div class="hero-unit" style="padding-top:40px;padding-bottom:10px;">  
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a href="#collapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" >
                    <legend>基本资料</legend>	
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="control-group">
                    <label class="control-label required ><abbr title="required">*</abbr> 性别</label>
                    <div class="controls" style="padding-top:2px;">
                      <%= f.collection_radio_buttons :sex,  [["男","男"],["女","女"]], :first, :last %>
                    </div>
                  </div>
                  <%= f.input :hometown, :label => "家乡", :input_html => { :id => "hometown" }%>
                  <%= f.input :location, :label => "现居地", :input_html => { :id => "location" }%>
                  <div class="control-group required">
                    <label class="control-label required"><abbr title="required">*</abbr> 标签</label>
                    <div class="controls">
                      <%= f.select(:style, ApplicationHelper::PERSONAL_STYLE,
                                   {},
                                   {:multiple => true, :class => "chzn-select"}
                                  ) -%>
                    </div>
                  </div>
                  <%= f.input :birthday, :label => "生日" %>
                  <div class="control-group">
                    <label class="control-label required"><abbr title="required">*</abbr> 兴趣</label>
                    <div class="controls">
                      <%= f.select(:hobby, ApplicationHelper::HOBBIES,
                                   {},
                                   {:multiple => true, :class => "chzn-select"}
                                  ) -%>
                    </div>
                  </div>
                  <div class="control-group required">
                    <label class="control-label required">喜欢的类型</label>
                    <div class="controls">
                      <%= f.select(:lover_style, ApplicationHelper::PERSONAL_STYLE,
                                   {},
                                   {:multiple => true, :class => "chzn-select"}
                                  ) -%>
                    </div>
                  </div>
                  <%= f.input :school, :label => "学校" %>
                  <%= f.input :profession, :label => "行业" %>
                </div>
              </div><!-- accordion-group -->
              <div class="accordion-group">   

                <div class="accordion-heading">
                  <a href="#collapseTwo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
                    <legend>兴趣爱好</legend>
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <%= f.input :musical_instruments, :label => "擅长的乐器" %>
                  <%= f.input :books, :label => "喜欢的书籍" %>
                  <%= f.input :sports, :label => "喜欢的运动" %>
                  <%= f.input :music, :label => "喜欢的音乐" %>
                  <%= f.input :movie, :label => "喜欢的电影" %>
                  <%= f.input :animation, :label => "喜欢的动漫" %>
                  <%= f.input :games, :label => "玩的游戏" %>
                </div>
              </div><!-- accordion-group -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> 
                    <legend>联系方式</legend>
                  </a>
                </div> 
                <div id="collapseThree" class="accordion-body collapse">
                  <%= f.input :telephone, :label => "电话" %>
                  <%= f.input :msn, :label => "MSN" %>
                  <%= f.input :qq, :label => "QQ" %>
                  <%= f.input :email, :label => "Email" %>
                </div>
              </div> <!--accordion-group -->
              <div class="control-group" >  				
                <div class="controls" style="margin-left:261px">
                  <button type="submit" class="btn">更新</button>
                </div>
              </div>
            <% end %>
            </div><!-- herounit -->
          </div><!-- accordion2 -->
        </div><!--span9 -->
      </div>
    </div>
  </div>
<script type="text/javascript">
$(".chzn-select").chosen();
$(".chzn-container").css('width', '220px');
$(function(){
  if(navigator.userAgent.indexOf("Chromium") > 0)
    {
      $('#upload_btn').css("display","none");
      $('#upload_original_btn').css("display","block");
    }
});
$(function(){
  //$('#collapseOne').collapse('show');
  /*
  $('#collapseOne').click(function(){
    $('#collapseTwo').collapse('hide');
    $('#collapseThree').collapse('hide');
  });
  $('#collapseTwo').click(function(){
    alert('hi');
    $('#collapseOne').collapse('hide');
    $('#collapseThree').collapse('hide');
  });
  $('#collapseThree').click(function(){
    $('#collapseTwo').collapse('hide');
    $('#collapseOne').collapse('hide');
  });
  */
});
</script>



