<% content_for :stylesheet  do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides" %>
<% end %>
<div class="container">
  <div class="clearfix">
    <div class="row main">
      <%= simple_form_for @profile, :url => user_profiles_path(current_user), 
        :html => {:class => "form-horizontal"} do |f|%> 
      <div class="span3 sidenav">
        <div class="fileupload fileupload-new" data-provides="fileupload">
          <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;" id="avatar">
            <%= image_tag @user.profile.avatar_url(:thumb) %> 
          </div>
          <input class="btn" value="修改头像" id="upload_btn" style="width:80px;margin-top:10px" />
          <%= f.file_field :avatar%>
        </div>
      </div>

      <div class="span9 profile-style" id="profile">
        <div class="accordion" id="accordion2">
          <div class="hero-unit" style="padding-top:40px;padding-bottom:10px;">  
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a href="#collapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" >
                    <legend>基本资料</legend>	
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="control-group">
                    <label class="control-label">性别</label>
                    <div class="controls">
                      <input type="radio" name="profile[sex]"  style="margin-left:10px;margin-top:-5px" value=true />
                      <span style="line-height:30px;">男</span>
                      <input type="radio" name="profile[sex]"  style="margin-left:10px;margin-top:-5px" value=false />
                      <span style="line-height:30px">女</span>
                    </div>
                  </div>
                  <%= f.input :birthday, :label => "生日" %>
                  <%= f.input :hometown, :label => "家乡" %>
                  <%= f.input :style, :label => "标签" %>
                  <%= f.input :hobby, :label => "兴趣" %>
                  <%= f.input :lover_style, :label => "喜欢的类型" %>
                  <%= f.input :school, :label => "学校" %>
                  <%= f.input :profession, :label => "行业" %>
              </div>
              </div><!-- accordion-group -->
              <div class="accordion-group" >   

                <div class="accordion-heading">
                  <a href="#collapseTwo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
                    <legend>兴趣爱好</legend>
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <%= f.input :musical_instruments, :label => "擅长的乐器" %>
                  <%= f.input :books, :label => "喜欢的书籍" %>
                  <%= f.input :sports, :label => "喜欢的运动" %>
                  <%= f.input :music, :label => "喜欢的音乐" %>
                  <%= f.input :movie, :label => "喜欢的电影" %>
                  <%= f.input :animation, :label => "喜欢的动漫" %>
                  <%= f.input :games, :label => "玩的游戏" %>
                </div>
              </div><!-- accordion-group -->
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> 
                    <legend>联系方式</legend>
                  </a>
                </div> 
                <div id="collapseThree" class="accordion-body collapse">
                  <%= f.input :telephone, :label => "电话" %>
                  <%= f.input :msn, :label => "MSN" %>
                  <%= f.input :qq, :label => "QQ" %>
                  <%= f.input :email, :label => "Email" %>
                </div>
              </div> <!--accordion-group -->
              <div class="control-group" >  				
                <div class="controls" style="margin-left:261px">
                  <button type="submit" class="btn">更新</button>
                </div>
              </div>
            <% end %>
            </div><!-- herounit -->
          </div><!-- accordion2 -->
        </div><!--span9 -->
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#profile_avatar').hide();
    $('#upload_btn').click(function (){
      $('#profile_avatar').click();
    });
  </script>



