<p id="notice"><%= notice %></p>

<p>
  <b>Sex:</b>
  <%= @profile.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Hometown:</b>
  <%= @profile.hometown %>
</p>

<p>
  <b>School:</b>
  <%= @profile.school %>
</p>

<p>
  <b>Musical instruments:</b>
  <%= @profile.musical_instruments %>
</p>

<p>
  <b>Books:</b>
  <%= @profile.books %>
</p>

<p>
  <b>Sports:</b>
  <%= @profile.sports %>
</p>

<p>
  <b>Music:</b>
  <%= @profile.music %>
</p>

<p>
  <b>Movie:</b>
  <%= @profile.movie %>
</p>

<p>
  <b>Animation:</b>
  <%= @profile.animation %>
</p>

<p>
  <b>Games:</b>
  <%= @profile.games %>
</p>

<p>
  <b>Telephone:</b>
  <%= @profile.telephone %>
</p>

<p>
  <b>Msn:</b>
  <%= @profile.msn %>
</p>

<p>
  <b>Qq:</b>
  <%= @profile.qq %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
