<%
  tips = current_user.tips.select_tips_by_tip_type_and_tipable_id("dynamic_comments",@dynamic_comments.id)
  tips.each do |tip|
    tip.destroy
  end
%>
<div class="container">
  <div style="width:50px;margin-right:20px;float:left;">
    <% @user = @dynamic_status.user %>
    <%= link_to(user_path(@user), :target => "_blank") do %>
      <% if @user.profile.sex == '男' %>
        <%= safe_image_tag(@user.profile.avatar_url(:mini), 'boy.jpg') %>
      <% else %>
        <%= safe_image_tag(@user.profile.avatar_url(:mini), 'girl.jpg') %>
      <% end %>
    <% end %>
  </div>
  <div class="status_content_box" style="width:610px;float:left">
    <span style="font-size:14px;color:#ff0000"><%= @user.name %>:</span>
    <span style="font-size:14px;"><%= @dynamic_status.content %></span></br>
    <span class="pull-left" style="clear:both;font-size: 10px;color: #cccccc">
      <%= @dynamic_status.created_at.strftime("%Y-%m-%d %H:%M")%>
    </span>

    <span class="pull-right" style="display: none">
      <%= link_to "评论", new_dynamic_status_comment_path(@dynamic_status, :type => "dynamic_status_comment"),
        :id => "comment_btn", :remote => true %>
    </span>
    <div id='comments' style="clear: both;">
      <% comments = @dynamic_status.comments %>
      <% if comments.size >= 1 %>
        <%= render('model_comments/comment', :comment => comments[0], :type => "dynamic_status") %>
    <% end %>
      <% if comments.size > 2 %>
        <div style="clear:both;margin-top: 10px;margin-bottom: 10px;display: block">
          <a href="javascript:;" class="remain_link"> 还有<%=(comments.size-2).to_s%>条回复</a>
        </div>
      <div style="display: none" class="remain_status">
        <% comments.each do |comment| %>
          <% if comment != comments[0] && comment != comments[comments.size-1] %>
          <%= render('model_comments/comment', :comment => comment, :type => "dynamic_status") %>
        <% end %>
      <% end %>
      </div>
    <% end %>
      <% if comments.size >= 2 %>
        <%= render('model_comments/comment', :comment => comments[comments.size-1], :type => "dynamic_status") %>
    <% end %>
    </div>
    <input class="span9 reply_input" placeholder="评论..." style="display: block;">
    <div id="reply_form">
    </div>
  </div>
</div>
<script>
$(function(){
  $('#comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});
$(function(){
  $('.reply_input').click(function(){
    $('#comment_btn').click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

</script>
