<div class="container">
  <%
    tips = current_user.tips.select_tips_by_tipable_type_and_tipable_id("InvitationGroupship",@group_invitationship.id)
    tips.each do |tip|
      tip.destroy
    end
    invitation = @group_invitationship.invitation
    initiate_group = invitation.initiate_group
    applied_group = @group_invitationship.applied_group
  %>
  <div class="row">
    <div class="span9">
      <div class="pull-left feed_photo" style="margin-right: 20px;">
        <%= image_tag invitation.image_url(:big) %>
      </div>
      <span class="small_gray">时间：</span><%= invitation.time %></br>
      <span class="small_gray">地点：</span><%= invitation.location %></br>
      <span class="small_gray">费用：</span></br>
      <span class="small_gray">活动: </span></br>
      <span class="small_gray">发起者：</span><%= invitation.initiate_group.name %></br>
      <div class="pull-left" style="clear:both;margin-top:15px;margin-bottom: 15px;">活动详情：</div><%= invitation.description %>

    <div style="clear: both;">
      <%= render 'comments/comment_group_item', :group => initiate_group %>
      <%= render 'comments/comment_group_item', :group => applied_group %>
    </div>
      <span class="pull-right" style="display: none">
        <%= link_to "评论", new_group_invitationship_comment_path(@group_invitationship, :type => "group_invitationship_comment"),
          :id => "comment_btn", :remote => true %>
      </span>
      <div style="clear:both;font-size: 16px;margin-top: 10px;">评论：</div>
        <div id='comments' style="clear: both;margin-top: 5px;">
          <% comments = @group_invitationship.comments %>
          <% if comments.size >= 1 %>
            <%= render('model_comments/comment', :comment => comments[0]) %>
          <% end %>
          <% if comments.size > 2 %>
            <div style="clear:both;margin-top: 10px;margin-bottom: 10px;display: block">
              <a href="javascript:;" class="remain_link"> 还有<%=(comments.size-2).to_s%>条回复</a>
            </div>
            <div style="display: none" class="remain_status">
              <% comments.each do |comment| %>
                <% if comment != comments[0] && comment != comments[comments.size-1] %>
                  <%= render('model_comments/comment', :comment => comment) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if comments.size >= 2 %>
            <%= render('model_comments/comment', :comment => comments[comments.size-1]) %>
          <% end %>
        </div>
        <input class="span9 reply_input" placeholder="评论..." style="display: block;">
        <div id="reply_form">
        </div>
    </div>

    <div class="span3">
    </div>
  </div>
</div>
<script>
$(function(){
  $('#comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});
$(function(){
  $('.reply_input').click(function(){
    $('#comment_btn').click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

$(function(){
  $('.hide_remain_link').click(function(){
    tmp = $(this).siblings('.reply_status_contents').find('.remain_link').parent("div");
    tmp.css("display","block");
    tmp.siblings(".remain_status").css("display","none");
    $(this).css("display","none");
  });
});
</script>
