<div class="span10 chat_room" id="room_<%=conversationer.conversation.id%>">
  <div class="chat_room_top">
    <span style="display: none" id="opened_chat_id"><%= conversationer.conversation.id %></span>
    <% if conversationer.class == Group %>
      <h3><%= conversationer.name %></h3>
      <%
        team_leaders = []
        members = conversationer.members
        team_leaders[0] = conversationer.team_leader
      %>
    <% end %>

    <% if conversationer.class == Invitation %>
      <h3><%= conversationer.time + "于" + conversationer.location + conversationer.activity %></h3>
      <%
        members = conversationer.initiate_group.members
        members = members | conversationer.applied_groups[0].members
        team_leaders = []
        team_leaders[0] = conversationer.initiate_group.team_leader
        team_leaders[1] = conversationer.applied_groups[0].team_leader
      %>
    <% end %>

    <%= link_to '退出', { :controller => "conversations", :action => "destroy",
                            :id => conversationer.conversation.id },
                            :method => :delete, :remote => true,
                            :class => "pull-right"
    %>
  </div>

  <div class="chat_room_body">
    <div class="chat_room_body_left">
      <div id="chat_<%=conversationer.conversation.id %>" class="chat" >
        <% conversationer.conversation.messages.each do |message| %>
          <% if current_user.id == message.sender_id %>
            <%= render 'messages/left_message', :message => message %>
          <% else%>
            <%= render 'messages/right_message', :message => message %>
          <% end %>
        <% end %>
      </div>

      <%= form_for(@message, :as => :message, :url => conversation_messages_path(conversationer.conversation),
                                              remote: true,
                                              :html => {
                                              :id => "new_message_"+conversationer.conversation.id.to_s,
                                              :class => "input-append"}) do |f| %>
        <%= f.text_area :content%>
        <%= f.submit "发送", :id => "msg_send_btn", :class => "msg_send_btn"%>
      <% end %>

    </div> <!-- chat_room_body_left -->
    <div class="chat_room_body_right">
      <h4>成员列表</h4>
      <ul>
        <% (team_leaders | members).each do |member| %>
          <%= link_to(user_path(member), :title => member.profile.hometown.to_s,
                      :rel => 'tooltip') do %>
          <li class="chat_member_list">
          <% if member.profile.sex == '男' %>
            <%= safe_image_tag(member.profile.avatar_url(:mini), 'boy.jpg') %>
          <% else %>
            <%= safe_image_tag(member.profile.avatar_url(:mini), 'girl.jpg') %>
          <% end %>
            <%= member.name %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div><!--chat_room_body -->
</div>
<script>
$(function(){
 // alert($('div.chat').length)
 for(var i=0; i < $('div.chat').length; i++)
  $("div.chat")[i].scrollTop = $("div.chat")[i].scrollHeight;
});
/*
$(function(){
  $('textarea#message_content').keyup(function(){
    var textarea = document.getElementById('message_content');
   // alert($('#message_content').css("height"));
   // textarea.style.height = textarea.scrollHeight;
   $('#message_content').css("height",textarea.scrollHeight);
   // $(this).style.posHeight = $(this).scrollHeight;
  });
});
*/

$(function(){
  $('#msg_send_btn').click(function(){
    $('#message_content').css("height",53);
  });
});

$(function(){
  $('div.chat_room_body_right a').tooltip();
});
/*
$(function(){
  $('.message_content').focus(function(){
    $(this).keypress(function(event){
    if (event.which == 13){
      event.preventDefault();
      //  $('#msg_send_btn').click();
    $(this).parent("form").find(".msg_send_btn").click()
   //   this.form.submit.click();
    }
    });
  });
  });
 */
$(function(){
  $('#message_content').keypress(function(event){
    if (event.which == 13){
      event.preventDefault();
      $('#msg_send_btn').click();
    }
  });
});
</script>

