<h1><%= conversationer.name %></h1>

<ul id="chat_<%=conversationer.conversation.id %>" class="chat">
  <% conversationer.conversation.messages.each do |message| %>
    <%= render 'messages/message', :message => message %>
  <% end %>
</ul>
 
<%= form_for conversationer.conversation.messages.build(:conversation_id => conversationer.conversation.id, 
                                                        :sender_id => current_user.id), 
                                                        remote: true, :html => {:id => "new_message_"+conversationer.conversation.id.to_s} do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :conversation_id %>
  <%= f.hidden_field :sender_id %>
  <%= f.submit "Send" %>
<% end %>

<%= subscribe_to "/conversations/group/"+conversationer.id.to_s %>
