<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "bootswatch", "conversations", "docs", "style" %>
<% end %>
<% if current_user.related_groups.size > 0 %>
<div style="width: 1080px;margin: auto">
    <div style="width: 300px;float:left;">
      <ul id='conversation_list'>
        <h4>与我相关的小组</h4>
        <% current_user.related_groups.each do |group| %>
          <% if group.status == "active" %>
          <%
            member_names=""+group.team_leader.name
            group.members.each do |member|
              member_names = member_names + " " + member.name
            end
          %>
          <%= link_to({ :controller => "conversations" , :group => group.id} ,
                      :method => "post",
                      :remote => true,
                      :id => "conversation_link_group_"+group.id.to_s,
                      :class => "conversation_link",
                      :title => member_names,
                      :rel => 'tooltip') do %>
          <li class="conversationer_list" id="conversation_list_<%= group.conversation.id.to_s %>">
          <div class="conversationer_list_left">
            <%= safe_image_tag(group.image_url(:mini),'photo/'+(group.id%12+1).to_s+'.jpg') %>
          </div>
          <div class="conversationer_list_right">
            <span><%= group.name %></span>

            <p class="group_description">
              <% if group.description.size <= 12 %>
                <%= group.description %>
              <% else %>
                <%= group.description.slice(0,12) %>...
              <% end %>
            </p>
           </div>
           </li>
           <%= subscribe_to "/conversations/group/"+group.conversation.id.to_s %>
         <% end %>
       <% end %>
        <% end %>
        <h4>与我相关的活动</h4>
        <% current_user.related_active_invitations.each do |invitation| %>
          <% if invitation != nil %>
          <%
            applied_group = invitation.applied_groups[0]
            initiate_group = invitation.initiate_group
            if initiate_group.members.include?(current_user)
              my_group = initiate_group
              other_group = applied_group
            else
              my_group = applied_group
              other_group = initiate_group
            end
          %>
          <%= link_to({ :controller => "conversations" , :invitation => invitation.id } ,
                      :method => "post",
                      :remote => true,
                      :id => "conversation_link_invitation_"+invitation.id.to_s,
                      :class => "conversation_link",
                      :title => invitation.time  + "于" + invitation.location + invitation.activity,
                      :rel => 'tooltip') do %>
            <li class="conversationer_list" id="conversation_list_<%= invitation.conversation.id.to_s%>">
              <div class="conversationer_list_left">
                <%= safe_image_tag(other_group.image_url(:mini),'photo/'+(other_group.id%12+1).to_s+'.jpg') %>
              </div>

              <div class="conversationer_list_right">
                <span><%= (invitation.time  + "于" + invitation.location + invitation.activity).slice(0,12) %>...</span>
              </div>
            </li>
            <%= subscribe_to "/conversations/group/"+invitation.conversation.id.to_s %>
          <% end %>
        <% end %><!-- if invitation != nil -->
        <% end %>

        <%
          active_groupships = current_user.related_active_groupships
        %>
        <% active_groupships.each do |groupship| %>
          <%
            applied_group = groupship.target_group
            initiate_group = groupship.applied_group
            if initiate_group.members.include?(current_user)
              my_group = initiate_group
              other_group = applied_group
            else
              my_group = applied_group
              other_group = initiate_group
            end
          %>
          <%= link_to({ :controller => "conversations" , :groupship => groupship.id} ,
                      :method => "post",
                      :remote => true,
                      :id => "conversation_link_groupship_"+groupship.id.to_s,
                      :class => "conversation_link",
                      :title => groupship.time  + "于" + groupship.location + groupship.activity.to_s,
                      :rel => 'tooltip') do %>

            <li class="conversationer_list" id="conversation_list_<%= groupship.conversation.id.to_s%>">
              <div class="conversationer_list_left">
                <%= safe_image_tag(other_group.image_url(:mini),'photo/'+(other_group.id%12+1).to_s+'.jpg') %>
              </div>

              <div class="conversationer_list_right">
                <span><%= (groupship.time  + "于" + groupship.location + groupship.activity.to_s).slice(0,12) %>...</span>
              </div>
            </li>
            <%= subscribe_to "/conversations/group/"+groupship.conversation.id.to_s %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="conversations_container" style="width: 750px;float:left;margin-top: 37px;">
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
        <span class="span12" style="font-size:24px;margin-top:100px;text-align: center">您还没有创建任何小组哦</span>
    </div>
  </div>
<% end %>
<div id="sound">
</div>
<div id="sound_tmp"></div>

<script>
$(function(){
  $(".conversation_link").tooltip();
});
</script>
<script>
function play_click(sef,url){
  var div = document.getElementById('sound');
  div.innerHTML = '<embed src="'+url+'" loop="0" autostart="true" hidden="true"></embed>';
  var emb = document.getElementsByTagName('EMBED')[0];
  if (emb) {
    /* 这里可以写成一个判断 wav 文件是否已加载完毕，以下采用setTimeout模拟一下 */
    div = document.getElementById('sound_tmp');
    div.innerHTML = '  ';
    sef.disabled = true;
    setTimeout(function(){div.innerHTML='';},1000);
  }
}
</script>
