<% if  groups.blank? != true %>
  <% groups.each do |group| %>
    <div class="item" id="group_<%=group.id%>">
      <div class="box-photo"><%= image_tag('secure.gravatar.com.jpg') %></div>
      <div class="group_info"><span><%= group.name %></span></div>
        <div class="group_description"><span><%= group.description %></span></div>
        <div class="members">
          <ul style="margin-left:5px">
            <%= link_to(user_path(group.team_leader),:title => group.team_leader.profile.style,
                        :rel => 'tooltip') do %>
              <li>
                <%= safe_image_tag(group.team_leader.profile.avatar_url(:mini), 'pic2.jpg') %>
                <span>发起者：<%= group.team_leader.name %> <%= group.team_leader.profile.hometown %></span>
              </li>
            <% end %>
            <% group.group_memberships.each do |group_membership| %>
            <%= link_to(user_path(group_membership.member),:title => group_membership.member.profile.style,
                        :rel => 'tooltip') do %>
              <li>
                <%= safe_image_tag(group_membership.member.profile.avatar_url(:mini), 'pic2.jpg') %>
                <span><%= group_membership.member.name %> <%= group_membership.member.profile.hometown %></span>
              </li>
            <% end %>
          <% end %>
          </ul>
      </div><!-- members -->
    </div><!-- item -->
  <% end %>
<% end %>

