<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "style", "groups", "homepage" %>
<% end %>
<% content_for :subnav do %>
  <%= render 'group_search_bar' %>
<% end %>
<div class="container">
  <%= will_paginate @groups %>
</div>
<div class="container" id="group_container">
  <%= render 'groups/group', :groups => @group %>
  <%= render 'users/show_foot' %>
</div>
<script>
$(function(){
  $('#group_container').masonry({
    itemSelector : '.item',
    columnWidth : 235
  });
});
</script>
