<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides","chosen" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="span8">
      <div class="hero-unit" style="background-color:#CFC">
        <%= simple_form_for @group, :html => {:class => "form-horizontal"} do |f| %>
          <legend>创建小组</legend>
          <div class="control-group">
            <label class="control-label">小组类型</label>
            <div class="controls">
              <input type="radio" name="group[sex]" id="men_group" checked style="margin-left:10px;margin-top:-5px"/>
              <span style="line-height:30px;">男生团体</span>
              <input type="radio" name="group[sex]" id="women_grooup" style="margin-left:10px;margin-top:-5px"/>
              <span style="line-height:30px">女生团体</span>
            </div>
          </div>
          <%= f.input :name, :label => "小组名称" %>
          <div class="control-group">
            <label class="control-label">小组标签</label>
            <div class="controls">
              <%= f.select(:labels, [['aa','aa'],['bb','bb'],['cc','cc']],
                       {},
                       {:multiple => true, :class => "chzn-select"}
                          ) -%>
            </div>
          </div>
          <%= f.input :description, :label => "交友宣言", :as => :text,
                      :input_html => { :rows => 3 }%>
          <%= f.input :location, :label => "小组所在地" %>
          <!-- <%= f.simple_fields_for :group_memberships do |u|  %> -->
            <!-- <%= u.input :member_id %> -->
            <!-- <%= u.association :member, :as => :check_boxes, :multiple => true %> -->
            <!--
            <div class="member-select">
            </div>-->
            <!-- <%= u.hidden_field :status, :value => "pending" %>-->

            <!--  <% end %> -->
          <%= f.input :image_url, :label => "请上传形象照" %>
          <div class="control-group">
            <div class="controls">							
              <a href="#myModal" role="button" class="btn" data-toggle="modal">选择好友并提交</a>
            </div>
          </div>
          <!-- Modal -->
          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">选择好友</h3>
            </div>
            <div class="modal-body">
              <p>好友列表</p>
              <!--
                <%= f.collection_check_boxes :member_ids, User.all, :id, :name , {:item_wrapper_tag => "div", :item_wrapper_class => "member_item"}%>
              -->

              <ul class="friend_list">
                <% User.all.each do |member| %>
                  <li>
                    <%= safe_image_tag(member.profile.avatar)%>
                    <label><%= h member.name -%><label>
                    <%= check_box_tag 'member_ids[]', member.id -%>
                  </li>
                <% end %>
               </ul>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" onClick="count_checked()">提交</button>
            </div>
          </div>
          <%= f.hidden_field :status, :value => "pending" %>
<!--
          <div class="control-group">
            <div class="controls">							
              <button type="submit" class="btn">提交</button>
            </div>
          </div>
-->
        <% end %>
      </div>
    </div><!--span9-->
    <div class="span4 group_notice">
      <div class="hero-unit" style="background-color:#FFC">
        <legend>注意事项</legend>
        <ul>
          <li><span class="badge badge-info">1</span>每个小组的所有成员必须同性，且无性取向问题</li>
          <li><span class="badge badge-info">2</span>每个人最多只能创建一个group</li>
          <li><span class="badge badge-info">3</span>每个人最多只能参加3个group</li>
          <li><span class="badge badge-info">4</span>每个group的人数必须为2~4人</li>
          <li><span class="badge badge-info">5</span>每个group的标签不能超过6个</li>
          <li><span class="badge badge-info">6</span>如果group半年时间内都没任何活动，则系统自动解除</li>                   
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".chzn-select").chosen();
</script>
