<%
  tips = current_user.tips.select_tips_by_tip_type_and_tipable_id("group_comments", @group.id)
  tips = tips | current_user.tips.select_tips_by_tip_type_and_tipable_id('GroupMembership_accept', @group.id)
  tips = tips | current_user.tips.select_tips_by_tip_type_and_tipable_id('Group_update', @group.id)
  tips.each do |tip|
    tip.destroy
  end
%>
<div class="container">
  <div class="row">
    <div class="span8">
      <div style="margin-bottom: 20px;">
        <span style="font-size: 22px;"><%= @group.name %></span>&nbsp;&nbsp;
        <% if current_user == @group.team_leader %>
          <% if Group.be_active?(@group) == false %>
            <%= link_to "编辑", edit_group_path(@group) %>
          <% else %>
            <a href="#" data-toggle="popover" data-placement="right" data-content="目前该群组已处于被邀请状态/已发布活动状态/申请活动状态，不能编辑">
              编辑
            </a>
          <% end %>
          <%= link_to "解散", @group, :confirm => '确定解散？',
            :method => :delete, :remote => true %>
          <%= link_to "收到的邀请", invite_posts_group_path(@group), :class => "pull-right" %>
          <%= link_to "已发送的邀请", sended_posts_group_path(@group), :class => "pull-right margin_right_20" %>
        <% elsif @group.members.include?(current_user) %>
          <%= link_to "退出该组", {:controller => "group_memberships", :action => "reject", :group => @group } %>
          <%= link_to "收到的邀请", invite_posts_group_path(@group), :class => "pull-right" %>
          <%= link_to "已发送的邀请", sended_posts_group_path(@group), :class => "pull-right margin_right_20" %>
        <% else %>
          <% if @group.status == "active" %>
            <a href="#inviteModal_<%=@group.id%>" data-toggle="modal" class="pull-right" style="font-size:16px;margin-top:10px;">
              邀请
            </a>
          <% end %>
          <%= render 'shared/group_invite_modal', :show_group => @group %>

        <% end %>
      </div>
      <div style="clear: both">
        <div style="height:50px;margin-top:5px;">
          <% team_leader = @group.team_leader %>
          <%= render 'comments/comment_mid_avatar', :user => team_leader %>
          <span class="pull-left" style="margin-top:5px;">
            <%= link_to team_leader.name, user_path(team_leader) %>(创建者)</br>
            <%= render 'comments/comment_user_info', :user => team_leader %>
          </span>
        </div>
        <% @group.members.each do |member| %>
          <div style="height:50px;margin-top:5px;">
            <%= render 'comments/comment_mid_avatar', :user => member %>
            <% if GroupMembership.find_by_group_id_and_member_id(@group.id, member.id).status == "pending"  %>
              <span class="pull-left"><%=link_to member.name, user_path(member) %></span>(成员)<span style="color: #ff0000;" class="pull-right">尚未接受邀请</span></br>
            <% else %>
              <span class="pull-left"><%=link_to member.name, user_path(member) %></span>(成员)<span style="color: #00ff00;" class="pull-right">已接受邀请</span></br>
            <% end %>
            <%= render 'comments/comment_user_info', :user => member %>
          </div>
        <% end %>
      </div>
      <div class="pull-left" style="clear:both;margin-top:10px;margin-bottom:10px;">
        <% if @group.description.to_s.size > 0 %>
          活动详情：<%= @group.description %>
        <% end %>
      </div>
      <span class="pull-right" style="display: none">
        <%= link_to "评论", new_group_comment_path(@group, :type => "group_comment"), 
          :id => "comment_btn", :remote => true %>
      </span>
      <% comments = @group.comments %>
      <p style="clear:both;font-size: 16px;">评论：</p>
      <%= render 'comments/show_comments', :comments => comments %>
      <input class="span8 reply_input" placeholder="评论..." style="display: block;">
      <div id="reply_form">
      </div>
    </div>
    <div class="span4">
      <h4>与该组相关的活动</h4>
      <ul class="actived_invitation_list">
      <% @group.actived_invitations.each do |actived_invitation| %>
        <% if actived_invitation.class == GroupInvitationship %>
          <% invitation = actived_invitation.invitation %>
          <%= link_to group_invitationship_path(actived_invitation) do %>
            <li>
              <%= invitation.time %>于<%= invitation.location %><%= invitation.activity %>
            </li>
          <% end %>
        <% elsif actived_invitation.class == GroupGroupship %>
          <%= link_to group_groupship_path(actived_invitation) do %>
            <li>
              <%= actived_invitation.time %>于<%= actived_invitation.location %><%= actived_invitation.activity %>
            </li>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
$(function(){
    $("a[data-toggle=popover]")
      .popover()
      .click(function(e) {
        e.preventDefault()
  })
});
</script>
<script>
$(function(){
  $('#comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});
$(function(){
  $('.reply_input').click(function(){
    $('#comment_btn').click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

$(function(){
  $('.hide_remain_link').click(function(){
    tmp = $(this).siblings('.reply_status_contents').find('.remain_link').parent("div");
    tmp.css("display","block");
    tmp.siblings(".remain_status").css("display","none");
    $(this).css("display","none");
  });
});
</script>
