<div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc">
  <%
      user = feed.user
  %>
  <div style="width:50px;margin-right:20px;float:left;">
    <%= link_to(user_path(user), :target => "_blank") do %>
      <% if user.profile.sex == '男' %>
        <%= safe_image_tag(user.profile.avatar_url(:mini), 'boy.jpg') %>
      <% else %>
        <%= safe_image_tag(user.profile.avatar_url(:mini), 'girl.jpg') %>
      <% end %>
    <% end %>
  </div>
  <div class="status_content_box" style="width:610px;float:left">
    <span style="font-size:14px;color:#ff0000"><%= user.name %>:</span>
    <% if feed.model_name == "DynamicStatus" %>
      <span style="font-size:14px;"><%= feedable.content %></span></br>
    <% elsif feed.model_name == "Photo"%>
      <span style="font-size:14px;">上传了新的照片</span></br>
      <div class="feed_photo">
        <%= link_to  photo_path(feedable) do %>
          <%= image_tag feedable.image_url(:big) %>
        <% end %>
      </div>
    <% elsif feed.model_name == "Group" %>
      <% team_leader = feedable.team_leader %>
      <% if team_leader == user %>
        <span>创建了小组<%= feedable.name %></span></br>
      <% else %>
        <span>加入了小组<%= feedable.name %></span></br>
      <% end %>
      <%= render 'comments/comment_group', :group => feedable %>
    <% elsif feed.model_name == "Invitation" %>
      <% initiate_group = feedable.initiate_group %>
      <% team_leader = initiate_group.team_leader %>
      <span>所在的小组<%= initiate_group.name %>发布了新的活动</span></br>
      <span class="small_gray">时间：</span><%= feedable.time %>/
      <span class="small_gray">地点：</span><%= feedable.location %>/
      <span class="small_gray">活动：</span><%= feedable.activity %></br>
      <%= render 'comments/comment_group', :group => initiate_group %>
    <% elsif feed.model_name == "GroupInvitationship" %>
      <%
        invitation = feedable.invitation
        applied_group = feedable.applied_group
        initiate_group = invitation.initiate_group
        if applied_group.team_leader == user || applied_group.members.include?(user)
          group = applied_group
          other_group = initiate_group
        else
          group = initiate_group
          other_group = applied_group
        end
      %>
      <span>参与的小组<%= group.name%>与小组<%= other_group.name%>组局成功</span></br>
      <span class="small_gray">时间：</span><%= invitation.time %>/
      <span class="small_gray">地点：</span><%= invitation.location %>/
      <span class="small_gray">活动：</span><%= invitation.activity %></br>
      <span><%= initiate_group.name %>(活动发起者)</span>
      <%= render 'comments/comment_group', :group => initiate_group %>
      <span><%= applied_group.name %></span>
      <%= render 'comments/comment_group', :group => applied_group %>
    <% elsif feed.model_name == "GroupGroupship" %>
      <%
        applied_group = feedable.applied_group
        target_group = feedable.target_group
        if applied_group.team_leader == user || applied_group.members.include?(user)
          group = applied_group
          other_group = target_group
        else
          group = target_group
          other_group = applied_group
        end
      %>
      <span>参与的小组<%= group.name%>与小组<%= other_group.name%>组局成功</span></br>
      <span class="small_gray">时间：</span><%= feedable.time %>/
      <span class="small_gray">地点：</span><%= feedable.location %>/
      <span class="small_gray">活动：</span><%= feedable.activity %></br>
      <span><%= applied_group.name %>(活动发起者)</span>
      <%= render 'comments/comment_group', :group => applied_group %>
      <span><%= target_group.name %></span>
      <%= render 'comments/comment_group', :group => target_group %>
    <% end %>
    <span class="pull-left" style="clear:both;font-size: 10px;color: #cccccc">
      <%= feedable.created_at.strftime("%Y-%m-%d %H:%M")%>
    </span>
    <a href="###" class="hide_remain_link pull-right" style="display: none">收起回复</a>
    <div id="feed_comments_<%= feed.id%>" class="reply_status_contents">
      <% replied_dynamic_statuses = feedable.comments %>
      <% if replied_dynamic_statuses.size >= 1 %>
        <%= render 'comments/comment_reply_box',
          :replied_dynamic_status => replied_dynamic_statuses[0],
          :feedable => feedable,
          :general_feed_id => feed.id %>
      <% end %>
      <% if replied_dynamic_statuses.size > 2 %>
          <div style="clear:both;margin-top: 10px;margin-bottom: 10px;display: block">
            <a href="###" class="remain_link"> 还有<%=(replied_dynamic_statuses.size-2).to_s%>条回复</a>
          </div>
          <div style="display: none" class="remain_status">
            <% replied_dynamic_statuses.each do |replied_dynamic_status|%>
              <% if replied_dynamic_status != replied_dynamic_statuses[0] && 
                   replied_dynamic_status != replied_dynamic_statuses[replied_dynamic_statuses.size-1] %>
                 <%= render 'comments/comment_reply_box',
                   :replied_dynamic_status => replied_dynamic_status,
                   :feedable => feedable,
                   :general_feed_id => feed.id %>
               <% end %>
            <% end %>
          </div>
      <% end %>
      <% if replied_dynamic_statuses.size >= 2 %>
        <%= render 'comments/comment_reply_box',
          :replied_dynamic_status => replied_dynamic_statuses[replied_dynamic_statuses.size-1],
          :feedable => feedable,
          :general_feed_id => feed.id %>
      <% end %>
    </div>
    <input class="span8 reply_input" placeholder="评论..." style="display: block;">
    <span class="pull-right reply_input_btn" style="display: none">
      <%= link_to "回复", new_feed_comment_path(feedable,
                                                :general_feed_id => feed.id),
                                                :remote => true, :class => "reply_btn" %>
    </span></br>
    <div id="feed_reply_<%= feed.id%>" class="original_status_reply">
    </div>
  </div>
</div>
<script>
$(function(){
  $('.reply_input').click(function(){
    $(this).parent().children(".reply_input_btn").children(".reply_btn").click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

$(function(){
  $('.hide_remain_link').click(function(){
    tmp = $(this).siblings('.reply_status_contents').find('.remain_link').parent("div");
    tmp.css("display","block");
    tmp.siblings(".remain_status").css("display","none");
    $(this).css("display","none");
  });
});
</script>
