  <%
      user = feed.user
  %>
  <div style="width:50px;margin-right:20px;float:left;">
    <%= link_to(user_path(user), :target => "_blank") do %>
      <% if user.profile.sex == '男' %>
        <%= safe_image_tag(user.profile.avatar_url(:mini), 'boy.jpg') %>
      <% else %>
        <%= safe_image_tag(user.profile.avatar_url(:mini), 'girl.jpg') %>
      <% end %>
    <% end %>
  </div>
  <div class="status_content_box" style="width:610px;float:left">
    <span style="font-size:14px;color:#ff0000"><%= user.name %>:</span>
    <% if feed.feedable_type == "DynamicStatus" %>
      <span style="font-size:14px;"><%= feedable.content %></span></br>
      <span class="pull-left" style="font-size: 10px;color: #cccccc">
        <%= feedable.created_at.strftime("%Y-%m-%d %H:%M")%>
      </span>
    <% elsif feed.feedable_type == "Photo"%>
      <span style="font-size:14px;">上传了新的照片至相册<%= Photo.find(feed.feedable_id).album.name %></span></br>
      <div class="feed_photo">
        <%= link_to  photo_path(feedable) do %>
          <%= image_tag feedable.image_url(:big) %>
        <% end %>
      </div>
      <span class="pull-left" style="font-size: 10px;color: #cccccc">
        <%= feedable.created_at.strftime("%Y-%m-%d %H:%M")%>
      </span>
    <% elsif feed.feedable_type == "Group" %>
      <% team_leader = feedable.team_leader %>
      <% if team_leader == user %>
        <span>创建了小组<%= link_to feedable.name, group_path(feedable) %></span></br>
      <% else %>
        <span>加入了小组<%= link_to feedable.name, group_path(feedable) %></span></br>
      <% end %>
      <%= render 'comments/comment_group', :group => feedable %>
    <% elsif feed.feedable_type == "Invitation" %>
      <% initiate_group = feedable.initiate_group %>
      <% team_leader = initiate_group.team_leader %>
      <span>所在的小组<%= link_to initiate_group.name, group_path(initiate_group) %>发布了新的活动</span>
      <%= link_to '详情', invitation_path(feedable), :class => "pull-right" %>
</br>
      <%= render 'comments/invitation', :invitation => feedable %>
      <a name="xn_share" onclick="share_Click('<%= initiate_group.name%>','<%= feedable.time%>','<%= feedable.location%>','<%= feedable.activity %>')" class="pull-right" type="icon" href="javascript:;">
      </a>
      <span class="pull-right" style="color:#999;font-size: 12px;">分享：</span>
      <span class="pull-left" style="clear:both;font-size: 10px;color: #cccccc">
        <%= feedable.created_at.strftime("%Y-%m-%d %H:%M")%>
      </span>
    <% elsif feed.feedable_type == "GroupInvitationship" %>
      <%
        invitation = feedable.invitation
        applied_group = feedable.applied_group
        initiate_group = invitation.initiate_group
        if applied_group.team_leader == user || applied_group.members.include?(user)
          group = applied_group
          other_group = initiate_group
        else
          group = initiate_group
          other_group = applied_group
        end
      %>
    参与的小组<span style="color: red"><%= link_to group.name, group_path(group) %></span>与小组<span style="color: red"><%= link_to other_group.name, group_path(other_group)%></span>组局成功
    <%= link_to '详情', group_invitationship_path(feedable), :class => "pull-right" %>
    </br>
      <span class="small_gray">时间：</span><%= invitation.time %>/
      <span class="small_gray">地点：</span><%= invitation.location %>/
      <span class="small_gray">活动：</span><%= invitation.activity %></br>
      <%= render 'comments/comment_group_item', :group => initiate_group %>
      <%= render 'comments/comment_group_item', :group => applied_group %>
      <span class="pull-left" style="clear:both;font-size: 10px;color: #cccccc">
        <%= feedable.created_at.strftime("%Y-%m-%d %H:%M")%>
      </span>
    <% elsif feed.feedable_type == "GroupGroupship" %>
      <%
        applied_group = feedable.applied_group
        target_group = feedable.target_group
        if applied_group.team_leader == user || applied_group.members.include?(user)
          group = applied_group
          other_group = target_group
        else
          group = target_group
          other_group = applied_group
        end
      %>
      <span>参与的小组<%= link_to group.name, group_path(group) %>与小组<%= link_to other_group.name, group_path(other_group)%>组局成功</span>
      <%= link_to '详情', group_groupship_path(feedable), :class => "pull-right" %>
      </br>
      <span class="small_gray">时间：</span><%= feedable.time %>
      <span class="small_gray">地点：</span><%= feedable.location %>
      <span class="small_gray">活动：</span><%= feedable.activity %></br>
      <%= render 'comments/comment_group_item', :group => applied_group %>
      <%= render 'comments/comment_group_item', :group => target_group %>
      <span class="pull-left" style="clear:both;font-size: 10px;color: #cccccc">
        <%= feedable.created_at.strftime("%Y-%m-%d %H:%M")%>
      </span>
    <% end %>
    <a href="javascript:;" class="hide_remain_link pull-right" style="display: none">收起回复</a>
    <div id="feed_comments_<%= feed.id%>" class="reply_status_contents">
      <% replied_dynamic_statuses = feedable.comments %>
      <%= render 'feed_comments', :replied_dynamic_statuses => replied_dynamic_statuses,
                                  :feedable => feedable,
                                  :feed => feed %>
    </div>
    <input class="span8 reply_input" placeholder="评论..." style="display: block;margin-top: 10px;">
    <span class="pull-right reply_input_btn" style="display: none">
      <%= link_to "回复", new_feed_comment_path(feedable,
                                                :general_feed_id => feed.id),
                                                :remote => true, :class => "reply_btn" %>
    </span></br>
    <div id="feed_reply_<%= feed.id%>" class="original_status_reply">
    </div>
  </div>
