<% show_groups.each do |show_group| %>
  <% 
      if show_group.member_counts == 0
        show_group.destroy
        next
      end
  %>

  <% if show_group != nil %>
  <% team_leader = show_group.team_leader %>
  <div class="group_showpanel" id="related_group_<%= show_group.id %>" style="clear: both;margin-top: 30px;" >
    <div class="group_showpanel_left">
      <%= link_to safe_image_tag(show_group.image_url(:small), 'photo/'+(show_group.id%12 + 1).to_s+'.jpg'), user_path(team_leader),
        :placement => "left", :rel => "tooltip" %>
      <% if group_type == "mygroup" && show_group.team_leader != current_user && !show_group.members.include?(current_user) && show_group.status == "active" %>
        <%= render 'shared/invite_action', :show_group => show_group %>
      <% end %>
      <div class="groupleader_info">
        <span><%= show_group.name %>
          <% if show_group.status == "active" %>
            (已激活)
          <% else %>
            (尚未激活)
          <% end %>
        </span>
      </div>
      <% if current_user == @user %>
        <% if current_user == team_leader %>
          <!-- 
            <%= link_to "编辑", edit_group_path(show_group) %>
            -->
          <%= link_to "解散", show_group, :confirm => '确定解散？',
            :method => :delete, :remote => true %>
        <% else %>
          <%= link_to "退出该组", {:controller => "group_memberships", :action => "reject", :group => show_group } %>
        <% end %>
      <% end %>
    </div>

    <%= render 'shared/group_invite_modal', :show_group => show_group %>
    <div class="group_showpanel_right" style="background-color:#FFF">
          <div class="group_member">
            <div class="pull-left">
              <% if team_leader.profile.sex == '男' %>
                <%= link_to safe_image_tag(team_leader.profile.avatar_url(:mini), 'boy.jpg'), user_path(team_leader), :title => team_leader.profile.style,
                  :placement => "top", :rel => "tooltip" %>
              <% else %>
                <%= link_to safe_image_tag(team_leader.profile.avatar_url(:mini), 'girl.jpg'), user_path(team_leader), :title => team_leader.profile.style,
                  :placement => "top", :rel => "tooltip" %>
              <% end %>

            </div>
            <div class="group_member_info pull-left">
              <label>创建者：<%= team_leader.name %></label>
              <label>爱好：<%= team_leader.profile.hobby %></label>
              <!--
                <label>喜欢的异性类型：<%= team_leader.profile.lover_style %></label>
              -->
            </div>
          </div>
          <% show_group.group_memberships.each do |ship| %>
            <% member = ship.member %>
          <div class="group_member">
            <div class="pull-left">
              <% if member.profile.sex == '男' %>
                <%= link_to safe_image_tag(member.profile.avatar_url(:mini), 'boy.jpg'), user_path(ship.member), :title => member.profile.style,
                  :placement => "top", :rel => "tooltip" %>
              <% else %>
                <%= link_to safe_image_tag(member.profile.avatar_url(:mini), 'girl.jpg'), user_path(ship.member), :title => member.profile.style,
                  :placement => "top", :rel => "tooltip" %>
              <% end %>
            </div>
            <div class="group_member_info pull-left">
              <% if ship.status == "accepted" %>
                <label>成员：<%= member.name %> <span style="margin-left: 30px;color: #00ff00">已接受邀请</span></label>
              <% else %>
                <label>成员：<%= member.name %> <span style="margin-left: 30px;color: #ff0000">尚未接受邀请</span></label>
              <% end %> 
              <label>爱好：<%= member.profile.hobby %></label>
            </div>
          </div><!--group_member-->
        <% end %>
    </div> <!--group_showpanel_right -->
  </div>
<% end %>
<% end %> <!-- each -->
