<% if invitations.blank? != true %>
  <% invitations.each do |invitation| %>
    <% initiate_group = invitation.initiate_group %>
    <% team_leader = initiate_group.team_leader %>
    <% if invitation.status != "active" %>
    <div class="item" id="invitation_<%=invitation.id%>">
    <% if user_signed_in?%>
      <% if team_leader != current_user %>
        <%= render 'shared/applied_action', :invitation => invitation %>
      <% end %>
      <div id="appliedModal_<%=invitation.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">申请参加</h3>
        </div>
        <%= simple_form_for invitation.group_invitationships.build(invitation_id: invitation.id) do |f| %>
          <div class="modal-body">
            <p>选择你的一个group</p>
            <%= f.hidden_field :invitation_id %>
            <%= f.collection_select :applied_group_id, current_user.active_groups, :id, :name%>
            <%= f.input :description, :label => "对TA说的话", :as => :text,
              :input_html => { :rows => 3, class: 'span5' }%>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary">提交</button>
          </div>
         <% end %>
        </div>
      <% end %>
        <div class="box-photo"><%= safe_image_tag(initiate_group.image_url(:thumb), 'photo/'+(initiate_group.id%12 + 1).to_s+'.jpg') %></div>
        <div class="activity_info"><span><%=invitation.time%>于<%= invitation.location %><%= invitation.activity %></span></div>
        <!--
        <div class="activity_description"><span><%= invitation.description %></span></div>
        -->
        <div class="activity_description"><span>发布小组：<%= invitation.initiate_group.name %></span></div>
    <div class="members">
      <ul style="margin-left:5px">
        <%= link_to(user_path(team_leader),:title => team_leader.profile.style,
                        :rel => 'tooltip') do %>
          <li>
            <% if team_leader.profile.sex == '男' %>
              <%= safe_image_tag(team_leader.profile.avatar_url(:mini),'boy.jpg') %>
            <% else %>
              <%= safe_image_tag(team_leader.profile.avatar_url(:mini),'girl.jpg') %>
            <% end %>
            <span>发起者：<%= team_leader.name %> <%= team_leader.profile.hometown %> <%= team_leader.profile.sex %> </span>
          </li>
        <% end %>
        <% initiate_group.members.each do |member| %>
        <%= link_to(user_path(member),:title => member.profile.style,
                        :rel => 'tooltip') do %>
          <li>
            <% if member.profile.sex == '男' %>
              <%= safe_image_tag(member.profile.avatar_url(:mini),'boy.jpg') %>
            <% else %>
              <%= safe_image_tag(member.profile.avatar_url(:mini),'girl.jpg') %>
            <% end %>
            <span><%= member.name %> <%= member.profile.hometown %></span>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div><!-- members -->
  </div><!-- item -->
  <% end %>
 <% end %>
<% end %>
<script>
$(function(){
$('.members ul li').tooltip();
});
</script>

