<% if  invitations.blank? != true %>
  <% invitations.each do |invitation| %>
    <div class="item" id="invitation_<%=invitation.id%>">
    <% if user_signed_in?%>
      <%= render 'shared/applied_action', :invitation => invitation %>
      <div id="appliedModal_<%=invitation.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">申请参加</h3>
        </div>
        <%= simple_form_for invitation.group_invitationships.build(invitation_id: invitation.id) do |f| %>
          <div class="modal-body">
          <p>选择一个group</p>
          <%= f.hidden_field :invitation_id %>
          <%= f.collection_select :applied_group_id, current_user.mygroups, :id, :name%>
          <%= f.input :description, :label => "对TA说的话", :as => :text,
                      :input_html => { :rows => 3 }%>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">提交</button>
          <!--<%= f.submit "提交",:class => "btn btn-primary"%>-->
        </div>
      <% end %>
      </div>
      <% end %>
  <div class="box-photo"><%= image_tag(invitation.image_url) %></div>
  <div class="activity_info"><span><%=invitation.time%>于<%= invitation.location %><%= invitation.activity %> </div>
    <div class="activity_description"><span><%= invitation.description %></span></div>
    <div class="members">
      <ul style="margin-left:5px">
        <li>
          <a href="#"  rel="tooltip" data-placement="left"  title=<%=invitation.initiate_group.team_leader.style%> class="pull-left"><%= image_tag(invitation.initiate_group.team_leader.head_url) %></a>
          <a href="#">发起者：<%= invitation.initiate_group.team_leader.name%> <%= invitation.initiate_group.team_leader.hometown %></a>
        </li>
        <% invitation.initiate_group.group_memberships.each do |group_membership| %>
        <li>
          <a href="#"  rel="tooltip" data-placement="left"  title=<%=group_membership.member.style%> class="pull-left"><%= image_tag(group_membership.member.head_url) %></a>
          <a href="#"><%= group_membership.member.name%> <%= group_membership.member.hometown %></a>
        </li>
      <% end %>
      </ul>
    </div><!-- members -->
  </div><!-- item -->
<% end %>
<% end %>
<%= render 'users/show_foot' %>
