<div class="accordion" id="accordion2">
  <% @participate_activities.keys.each do |group_key| %>
    <% group = Group.find(group_key) %>
    <% applied_groupships = GroupGroupship.find_all_by_applied_group_id(group.id) %>
    <% target_groupships = GroupGroupship.find_all_by_target_group_id(group.id) %>
    <% if (applied_groupships | target_groupships).size > 0 || @participate_activities[group_key].blank? != true %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
          href="#collapse_<%=group_key%>">
          <%= group.name %>相关的活动&nbsp;-------
          创建者：<%= group.team_leader.name %>&nbsp;&nbsp;
          成员：
          <% group.members.each do |member| %>
            <%= member.name %>&nbsp;&nbsp;
          <% end %>
        </a>
      </div>

        <div id="collapse_<%= group_key %>" class="accordion-body collapse in">
          <div class="accordion-inner sended_request_inner" style="padding-left: 0px;padding-right: 0px;">
            <% (applied_groupships | target_groupships).each do |group_ship| %>
              <%
                invitation = Invitation.new(:initiate_group_id => group_ship.applied_group_id,
                                            :time => group_ship.time,
                                            :location => group_ship.location,
                                            :activity => group_ship.activity,
                                            :description => group_ship.description,
                                            :status => group_ship.status)
                initiate_group = group_ship.target_group
                team_leader = initiate_group.team_leader
              %>
              <%= render 'group_group_item', :invitation => invitation, :team_leader => team_leader,
                :initiate_group => initiate_group, :groupship => group_ship %>
            <% end %>
            <% @participate_activities[group_key].each do |active_invitation| %>
              <% if active_invitation.class == GroupInvitationship %>
                <% invitation = Invitation.find(active_invitation.invitation_id) %>
              <% else %>
                <% invitation = active_invitation %>
              <% end %>
              <% initiate_group = invitation.initiate_group %>
              <% team_leader = initiate_group.team_leader %>
              <%= render 'item', :invitation => invitation, :team_leader => team_leader, 
                :initiate_group => initiate_group, :group_ship => nil %>
            <% end %>
            </div><!--accordion-inner-->
          </div><!-- accordion-body -->
      </div><!-- accordion-group -->
    <% end %>
    <% end %>
</div>
