<% @ships.keys.each do |invitation_key| %>
  <% invitation = Invitation.find(invitation_key) %>
<% if  @ships[invitation_key].blank? != true %>
  <h4 style="position: relative">你发出的帖子<%=invitation_key%>收到了如下回帖</h4>
  <% @ships[invitation_key].each do |invitation_ship| %>
    <% applied_group = invitation_ship.applied_group %>
    <div class="item" id="invitation_ship_<%=invitation_ship.id%>">
      <%= render 'shared/received_action', :invitation_ship => invitation_ship %>
  <div class="box-photo"><%= safe_image_tag(applied_group.image_url) %></div>
  <div class="activity_info"><span><%=invitation.time%>于<%= invitation.location %><%=invitation.activity %> </div>
    <div class="activity_description"><span><%= invitation.description %></span></div>
    <div class="members">
      <ul style="margin-left:5px">
        <li>
          <a href="#"  rel="tooltip" data-placement="left"  title=<%=applied_group.team_leader.profile.style%> class="pull-left"><%= safe_image_tag(applied_group.team_leader.profile.avatar) %></a>
          <a href="#">发起者：<%= applied_group.team_leader.name%> <%= applied_group.team_leader.profile.hometown %></a>
        </li>
        <% applied_group.members.each do |member| %>
        <li>
          <a href="#"  rel="tooltip" data-placement="left"  title=<%=member.profile.style%> class="pull-left"><%= safe_image_tag(member.profile.avatar) %></a>
          <a href="#"><%= member.name%> <%= member.profile.hometown %></a>
        </li>
      <% end %>
      </ul>
    </div><!-- members -->
  </div><!-- item -->
<% end %>
<% end %>
<% end %>
