<h4>各个活动收到的回帖</h4>
<div class="accordion" id="accordion2">
<% @ships.keys.each do |invitation_key| %>
  <% invitation = Invitation.find(invitation_key) %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
        href="#collapse_<%=invitation_key%>">
        <% if invitation.activity %>
          <span class="normal-font">活动发布小组：</span><%= invitation.initiate_group.name+"      " %><span class="normal-font">活动时间：</span><%=invitation.time+"      "%><span class="normal-font">活动地点：</span><%=invitation.location+" "%><span class="normal-font">活动：</span><%= invitation.activity %>
        <% else %>
          <span class="normal-font">活动发布小组：</span><%= invitation.initiate_group.name+"      " %><span class="normal-font">活动时间：</span><%=invitation.time+"      "%><span class="normal-font">活动地点：</span><%=invitation.location+" "%><span class="normal-font">活动：</span>待定
        <% end %>
      </a>
    </div>

    <% if @ships[invitation_key].blank? != true %>
    <div id="collapse_<%= invitation_key%>" class="accordion-body collapse in">
      <div class="accordion-inner applied_group_inner" style="padding-left: 0px;padding-right: 0px;">
          <% @ships[invitation_key].each do |invitation_ship| %>
            <% applied_group = invitation_ship.applied_group %>
            <% team_leader = applied_group.team_leader %>
            <div class="item" id="invitation_ship_<%=invitation_ship.id%>" style="margin-right: 0px;margin-left: 5px;">
              <% if invitation.initiate_group.team_leader == current_user && invitation.status == "pending" %>
                <%= render 'shared/received_action', :invitation_ship => invitation_ship %>
              <% end %>
            <div class="box-photo"><%= safe_image_tag(applied_group.image_url(:thumb),'photo/'+(applied_group.id%12 + 1).to_s+'.jpg') %></div>
            <div class="activity_info">
              <span class="normal-font">时间：</span><span class="activity_info_font"><%=invitation.time%></span><br/>
              <span class="normal-font">地点：</span><span class="activity_info_font"><%= invitation.location %></span><br/>
              <span class="normal-font">活动：</span><span class="activity_info_font"><%= invitation.activity %></span>
            </div>
              <div class="activity_description"><span><%= invitation.description %></span></div>
              <div class="members">
              <ul style="margin-left:5px;list-style-type: none;">
                <%= link_to(user_path(team_leader),:title => team_leader.profile.style,
                            :rel => 'tooltip') do %>
                    <li>
                      <% if team_leader.profile.sex == '男' %>
                        <%= safe_image_tag(team_leader.profile.avatar_url(:mini), 'boy.jpg') %>
                      <% else %>
                        <%= safe_image_tag(team_leader.profile.avatar_url(:mini), 'girl.jpg') %>
                      <% end %>
                      <span>发起者：<%= team_leader.name%> <%= team_leader.profile.hometown %></span>
                    </li>
                <% end %>
                <% applied_group.members.each do |member| %>
                   <%= link_to(user_path(member),:title => member.profile.style,
                                          :rel => 'tooltip') do %>
                    <li>
                      <% if member.profile.sex == '男' %>
                        <%= safe_image_tag(member.profile.avatar_url(:mini), 'boy.jpg') %>
                      <% else %>
                        <%= safe_image_tag(member.profile.avatar_url(:mini), 'girl.jpg') %>
                      <% end %>
                      <span><%= member.name%> <%= member.profile.hometown %></span>
                    </li>
                   <% end %>
                <% end %>
              </ul>
            </div><!-- members -->
          </div><!-- item -->
        <% end %>
      </div>
    </div>
    <% end %><!-- if -->

    <% if @ships[invitation_key].blank? == true %>
      <div id="collapse_<%= invitation_key%>" class="accordion-body collapse in">
        <div class="accordion-inner" style="padding-left: 0px;padding-right: 0px;">
          <h4 style="text-align: center;">还没有group申请参加这个活动哦</h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
