<div class="accordion" id="accordion2">
  <% @sended_requests.keys.each do |group_key| %>
    <% group = Group.find(group_key) %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
          href="#collapse_<%=group_key%>">
          <%= group.name %>应征的活动
        </a>
      </div>

        <div id="collapse_<%= group_key %>" class="accordion-body collapse in">
          <div class="accordion-inner sended_request_inner" style="padding-left: 0px;padding-right: 0px;">
            <% @sended_requests[group_key].each do |sended_request| %>
              <% if sended_request.class == GroupInvitationship %>
                <% invitation = Invitation.find(sended_request.invitation_id) %>
                <% initiate_group = invitation.initiate_group %>
                <% team_leader = initiate_group.team_leader %>
              <% elsif sended_request.class == GroupGroupship %>
                <%
                  invitation = Invitation.new(:time => sended_request.time,
                                              :location => sended_request.location,
                                              :description => sended_request.description,
                                              :activity => sended_request.activity)
                  initiate_group = sended_request.applied_group
                  team_leader = initiate_group.team_leader
                %>
              <% end %>
              <% if sended_request.status == "active" %>
                <div class="item" style="border-color:#00ff00;margin-right: 0px;margin-left: 5px;">
                  <div class="pull-right actived_sended_request">
                    <span style="font-size:24px; color: #00ff00;">已激活</span>
                  </div>
              <% else %>
                <div class="item" style="margin-right: 0px;margin-left: 5px;">
              <% end %>
                <div class="box-photo"><%= safe_image_tag(initiate_group.image_url(:thumb),'photo/'+(initiate_group.id%12+1).to_s+'.jpg') %></div>
                <div class="activity_info">
                  <span class="normal-font">时间：</span><span class="activity_info_font"><%=invitation.time%></span><br/>
                  <span class="normal-font">地点：</span><span class="activity_info_font"><%= invitation.location %></span><br/>
                  <span class="normal-font">活动：</span><span class="activity_info_font"><%= invitation.activity %></span>
                </div>
                  <div class="activity_description"><span><%= invitation.description %></span></div>
                  <div class="members">
                    <ul style="margin-left:5px;list-style-type: none;">
                      <%= link_to(user_path(team_leader),:title => team_leader.profile.style,
                                  :rel => 'tooltip') do %>
                        <li>
                        <% if team_leader.profile.sex == '男' %>
                          <%= safe_image_tag(team_leader.profile.avatar_url(:mini), 'boy.jpg') %>
                        <% else %>
                          <%= safe_image_tag(team_leader.profile.avatar_url(:mini), 'girl.jpg') %>
                        <% end %>
                        <span>发起者：<%= team_leader.name%> <%= team_leader.profile.hometown %> <%= team_leader.profile.sex %></span>
                        </li>
                      <% end %>
                      <% initiate_group.members.each do |member| %>
                          <%= link_to(user_path(member),:title => member.profile.style,
                                      :rel => 'tooltip') do %>
                          <li>
                            <% if member.profile.sex == '男' %>
                              <%= safe_image_tag(member.profile.avatar_url(:mini), 'boy.jpg') %>
                            <% else %>
                              <%= safe_image_tag(member.profile.avatar_url(:mini), 'girl.jpg') %>
                            <% end %>
                            <span><%= member.name%> <%= member.profile.hometown %> <%= member.profile.sex %></span>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div><!-- members -->
                </div><!-- item -->
              <% end %>
            </div><!--accordion-inner-->
          </div><!-- accordion-body -->
      </div><!-- accordion-group -->
    <% end %>
</div>
