<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides", "homepage", "bootswatch", "chosen" %>
<% end %>
<% if current_user && current_user.sign_in_count == 1 || current_user.profile.style == nil ||
      current_user.profile.hobby == nil%>
  <% session[:visited] ||= false %> 
  <% if session[:visited] == false || current_user.profile.style == nil%>
    <div id="init_profile" class="modal hide fade" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
      <div class="modal-header">
        <h3 id="myModalLabel">必填资料</h3>
      </div>
      <%
          @profile = current_user.profile
          style_str = @profile.style.to_s
          @profile.style = str_to_array(style_str)
          @profile.hobby = str_to_array(@profile.hobby.to_s)
      %>
    <%= simple_form_for @profile, :url => user_profiles_path(current_user), :method => :put,
      :html => { :class => "profiles" } do |f| %>
        <div class="modal-body" >
          <div class="modal-left">
            <div class="control-group required">
              <label class="control-label required"><abbr title="required">*</abbr> 性别</label>
              <div class="controls" style="padding-top:2px;">
                <%= f.collection_radio_buttons :sex,  [["男","男"],["女","女"]], :first, :last, { :checked => "男"} %>
              </div>
            </div><!--sex -->
            <div class="control-group required">
              <label class="control-label required"><abbr title="required">*</abbr> 家乡（省/直辖市）</label>
              <div class="controls">
                <%= f.select(:hometown, ApplicationHelper::PROVINCES,
                             {},
                             {:class => "hometown-select"}
                            ) -%>
              </div>
            </div><!--hometown-->
            <div class="control-group required">
              <label class="control-label required"><abbr title="required">*</abbr> 现居地（市）</label>
              <div class="controls">
                <%= f.select(:location, ApplicationHelper::CITIES,
                             {},
                             {:class => "location-select"}
                            ) -%>
              </div>
            </div><!-- location -->
            <div class="control-group required">
              <label class="control-label required"><abbr title="required">*</abbr> 标签（请选择2～4个标签）</label>
              <div class="controls">
                <%= f.select(:style, ApplicationHelper::PERSONAL_STYLE,
                             {},
                             {:multiple => true, :class => "chzn-select"}
                            ) -%>
              </div>
            </div><!--labels -->
            <div class="control-group required">
              <label class="control-label required"><abbr title="required">*</abbr> 兴趣（请选择2～4项兴趣）</label>
              <div class="controls">
                <%= f.select(:hobby, ApplicationHelper::HOBBIES,
                             {},
                             {:multiple => true, :class => "chzn-select"}
                            ) -%>
              </div>
            </div><!-- hobby-->
          </div><!-- modal-left-->
          <div style="display: none">
            <%= f.input :status, :value => "active" %>
            <% if current_user.authorizations.size > 0 && current_user.authorizations[0].head_url != nil %>
              <%= f.text_field :remote_avatar_url, :value => current_user.authorizations[0].head_url %>
            <% end %>
          </div>
        </div><!-- modal-body -->
        <div class="modal-footer">
          <%= f.submit '确定', :class => 'btn btn-primary', :id => "init_profile_btn"  %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% session[:visited] = true %>
<% end %>
<script type="text/javascript">
$(function(){
  $('#init_profile').modal('show');
});
</script>
<script type="text/javascript">
$(".chzn-select").chosen();
$(".hometown-select").chosen();
$(".location-select").chosen();
</script>
<script>
$(function(){
  $('#init_profile_btn').attr("disabled","true");
});

$(function(){
  $('.chzn-select').change(function(){
    var style_value = new String($("#profile_style").val());
    style_array = style_value.split(",");
    var hobby_value = new String($("#profile_hobby").val());
    hobby_array = hobby_value.split(",");
    if(style_array.length > 4)
      alert("最多只能填写4个标签哦");
    if(hobby_array.length > 4)
      alert("最多只能填写4项兴趣哦");

    if (style_array.length >=2 && style_array.length <= 4 && hobby_array.length >= 2 && hobby_array.length <= 4)
      {
        $('#init_profile_btn').removeAttr("disabled");
      }
      if ( style_array.length > 4 || hobby_array.length > 4)
      {
        $('#init_profile_btn').attr("disabled","true");
      }
  });
});
</script>

