<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "style", "homepage" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="span3 user_search_bar">
      <h4>快速寻找</h4>
      <%= link_to '和我同城的人', { :controller => "users", :action => "index", :user_location => current_user.profile.location }%>
      <%= link_to '我的老乡', { :controller => "users", :action => "index", :user_hometown => current_user.profile.hometown }%>
      <% other_sex = (current_user.profile.sex == "男" ? "女" : "男") %>
      <%= link_to '异性', { :controller => "users", :action => "index", :user_sex => other_sex }%>
      <!--
        <%= link_to '我的校友', { :controller => "users", :action => "index", :user_school => current_user.profile.school }%>
      -->
      <%= link_to '我的同城老乡', { :controller => "users", :action => "index", 
                                          :user_hometown => current_user.profile.hometown, 
                                          :user_location => current_user.profile.location }%>

      <h4>搜索</h4>
      <%= form_tag users_path, method: :get, :class => "navbar-search" do %>
        <div class="field">
        <%= text_field_tag :search, params[:search], :placeholder => "按姓名搜索",
          :class => "user-search-query-input" %>
        <a href="#" id="submit-link" style="display: inline;line-height: 20px;"><i style="right: 5px; top: 7px;" class="icon-search"></i></a>
          <input type="submit" value="搜索" name="commit" id="group_search_submit" style="display: none">
        </div>
      <% end %>
    </div>

    <div class="span2">
    </div>
    <div class="span10">
      <%= will_paginate  @users%>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>姓名</th>
            <th>现居地</th>
            <th>家乡</th>
            <th></th>
            <th></th>
          </tr>
        </thead>   
        <tbody>
        <% @users.each do |user| %>
          <% if user && user != current_user %>
          <tr>
            <% if user.profile.sex == '男' %>
              <td><%= safe_image_tag(user.profile.avatar_url(:small), 'boy.jpg') %></td>
            <% else %>
              <td><%= safe_image_tag(user.profile.avatar_url(:small), 'girl.jpg') %></td>
            <% end %>
            <td><%= link_to user.name, user %></td>
            <td><%= user.profile.location %></td>
            <td><%= user.profile.hometown %></td>
            <% @user = user %>
            <td id="follow_form_<%=user.id%>">
              <% if current_user.following?(user) %>
                <%= render 'shared/unfollow'%>
              <% else %>
                <%= render 'shared/follow' %>
              <% end %>
            </td>
            <td>
              <a data-toggle="modal" href="#send_message_modal_2" class="btn send_private_message"
                type="button" receiver_id="<%= user.id %>">
                 发私信
              </a>
            </td>
          </tr>
        <%end %>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate  @users%>
      <%= render 'users/show_foot' %>
    </div><!-- span10 -->
<div id="send_message_modal_2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">发私信</h3>
  </div>
  <%= simple_form_for(PrivateMessage.new(original_message_id: -1,
                                    receiver_id: -1), remote: true) do |f| %>
  <div class="modal-body">
    <%= f.hidden_field :original_message_id %>
    <%= f.hidden_field :receiver_id %>
    <%= f.input :content, :label => "内容", :as => :text,
      :input_html => { :rows => 3, class: 'span5' }%>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">发送</button>
  </div>
  <% end %>
</div>
  </div>
</div>
<script>
$(function(){
  $(".send_private_message").click(function() {
    $('#private_message_receiver_id').val($(this).attr('receiver_id'));
    $('#send_message_modal').modal('show');
  });
});
</script>
<script>
$(function(){
  $('#submit-link').click(function(){
    $('#group_search_submit').click();
  });
});
</script>
