<%= render 'show_head' %>
<%
    if @user != current_user
      @user.add_visitor(current_user)
    end
%>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
    <% if current_user == @user %>
      <%= render 'my_invitation', :invitations => @my_invitations %>
    <% else %>
      <%= render 'invitation', :invitations => @my_invitations %>
    <% end %>
    <% if controller_name == "users" && action_name == "my_invitations"%>
    <%
        @my_groupships.each do |groupship|
          invitation = Invitation.new(:initiate_group_id => groupship.applied_group_id,
                                  :time => groupship.time,
                                  :location => groupship.location,
                                  :status => groupship.status,
                                  :activity => groupship.activity)

          initiate_group = groupship.applied_group
          team_leader = initiate_group.team_leader
    %>
    <%=
      render 'group_group_item', :initiate_group => initiate_group,
        :team_leader => team_leader,
        :invitation => invitation,
        :groupship => groupship
    %>
    <%
    end
    end
    %>
  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'users/show_foot' %>
