<%= render 'show_head' %>
<%
    if @user != current_user
      @user.add_visitor(current_user)
    end
%>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
    <% if current_user == @user %>
      <%= render 'my_invitation', :invitations => @my_invitations %>
    <% else %>
      <%= render 'invitation', :invitations => @my_invitations %>
    <% end %>
  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'users/show_foot' %>
