<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides","bootswatch","homepage", "docs" %>
<% end %>


<div class="container">
  <%= render 'shared/header' %>
  <div class="row">
    <div class="span9">
      <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
        <% if current_user == @user %>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
             href="#collapse_mygroup"> 我发起的Groups</a>
        <% else %>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
             href="#collapse_mygroup"> TA发起的Groups</a>
        <% end %>
        </div>
        <div id="collapse_mygroup" class="accordion-body collapse in">
          <div class="accordion-inner">
            <% if @mygroups.any? %>
              <%= render 'group', :show_groups => @mygroups %>
            <% else %>
              <% if current_user == @user %>
                <span style="font-size: 18px;">您还没有创建任何的group哦</span>
              <% else %>
                <span style="font-size: 18px;">TA还没有创建任何的group</span>
              <% end %>
            <% end %><!-- block -->
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
        <% if current_user == @user %>
          <!--
            <div style="clear: both; margin-top: 30px;">我参与的Groups</div>
          -->
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
             href="#collapse_group"> 我参与的Groups</a>
        <% else %>
          <!--
            <div style="clear: both; margin-top: 40px;">Ta参与的Groups</div>
            -->
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
             href="#collapse_group"> TA参与的Groups</a>
         <% end %>
       </div>
        <div id="collapse_group" class="accordion-body collapse in">
          <div class="accordion-inner">
            <% if @groups.any? %>
              <%= render 'group', :show_groups => @groups %>
            <% else %>
              <% if current_user == @user %>
                <span style="font-size: 18px;">您还没有参与任何的group哦</span>
              <% else %>
                <span style="font-size: 18px;">TA还没有参与任何的group</span>
              <% end %>
            <% end %> <!-- each -->
          </div>
        </div>
      </div><!-- accordion-group -->
      </div><!-- accordion2 -->
    </div> <!--span9 -->

    <div class="span3">
      <% if current_user == @user %>
        <%= link_to "申请创建小组", new_group_path, :class => "btn btn-large btn-primary"  %>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- container -->

<div style="height: 20px;" class="container">
</div>
<script>
$('.group_member .pull-left').tooltip({
  selector: "a[rel=tooltip]"})
  $('.group_showpanel_left').tooltip({
    selector: "a[rel=tooltip]"})
</script>

<script type="text/javascript">
  function displayInputArea(){
    $('.description').html("还能输入<span class=\"wordsOffset\">200</span>个字<button class=\"pull-right\">提交</button><textarea  id=\"description\" row=\"3\" class=\"span7\"  onkeyup=\"discountWordNum()\" onmouseup=\"discountWordNum()\"></textarea>");
  }

  function discountWordNum(){
    var str = $('#description').val();
    //	alert(str.length);
    $('.wordsOffset').html(200 - str.length) ;
  }
</script>
