<script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides","bootswatch", "homepage" %>
<% end %>
<div class="container">
  <%= render 'shared/header' %>
  <div class="row">
    <div class="span9" id="feed_container">
      <%
          group_groupship_similar_feeds = []
          group_invitationship_similar_feeds = []
          invitation_similar_feeds = []
          group_similar_feeds = []
          photo_similar_feeds = []
      %>
      <% @feeds.each do |feed| %>
        <% if feed.feedable_type == "DynamicStatus" %>
          <div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc" class="feed">
            <%= render 'feed', :feedable => DynamicStatus.find(feed.feedable_id), :feed => feed %>
          </div>
        <% elsif feed.feedable_type == "Photo" %>
          <% if photo_similar_feeds.include?(feed) == false %>
            <div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc" class="feed">
              <%= render 'feed', :feedable => Photo.find(feed.feedable_id), :feed => feed %>
            <% end %>
          </div>
        <% elsif feed.feedable_type == "Group" %>
          <% if group_similar_feeds.include?(feed) == false %>
            <%
                feedable = Group.find(feed.feedable_id)
                similar_feeds = feedable.feeds & @feeds
                group_similar_feeds = group_similar_feeds | similar_feeds
            %>
            <div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc" class="feed">
              <%= render 'feed', :feedable => feedable, :feed => feed %>
              <% if similar_feeds.size > 1 %>
                <a href='javascript:;' style="clear:both;display: block;text-align: center" class="remain_feed_link">查看<%= similar_feeds.size - 1 %>条类似新鲜事</a>
                <div style="display: none" class="remain_feed">
                  <% similar_feeds.each do |similar_feed| %>
                    <% if similar_feed != feed %>
                      <%= render 'feed', :feedable => feedable, :feed => similar_feed %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% elsif feed.feedable_type == "Invitation" %>
          <% if invitation_similar_feeds.include?(feed) == false %>
            <%
                feedable = Invitation.find(feed.feedable_id)
                similar_feeds = feedable.feeds & @feeds
                invitation_similar_feeds = invitation_similar_feeds | similar_feeds
            %>
            <div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc" class="feed">
              <%= render 'feed', :feedable => feedable, :feed => feed %>
              <% if similar_feeds.size > 1 %>
                <a href='javascript:;' style="clear:both;display: block;text-align: center" class="remain_feed_link">查看<%= similar_feeds.size - 1 %>条类似新鲜事</a>
                <div style="display: none" class="remain_feed">
                  <% similar_feeds.each do |similar_feed| %>
                    <% if similar_feed != feed %>
                      <%= render 'feed', :feedable => feedable, :feed => similar_feed %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% elsif feed.feedable_type == "GroupInvitationship" %>
          <% if group_invitationship_similar_feeds.include?(feed) == false %>
            <%
                feedable = GroupInvitationship.find(feed.feedable_id)
                similar_feeds = feedable.feeds & @feeds
                group_invitationship_similar_feeds = group_invitationship_similar_feeds | similar_feeds
            %>
            <div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc" class="feed">
              <%= render 'feed', :feedable => feedable, :feed => feed %>
              <% if similar_feeds.size > 1 %>
                <a href='javascript:;' style="clear:both;display: block;text-align: center" class="remain_feed_link">查看<%= similar_feeds.size - 1 %>条类似新鲜事</a>
                <div style="display: none" class="remain_feed">
                  <% similar_feeds.each do |similar_feed| %>
                    <% if similar_feed != feed %>
                      <%= render 'feed', :feedable => feedable, :feed => similar_feed %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% elsif feed.feedable_type == "GroupGroupship" %>
          <% if group_groupship_similar_feeds.include?(feed) == false %>
            <%
                feedable = GroupGroupship.find(feed.feedable_id)
                similar_feeds = feedable.feeds & @feeds
                group_groupship_similar_feeds = group_groupship_similar_feeds | similar_feeds
            %>
            <div style="margin-bottom: 15px;overflow:hidden;padding-top:10px; clear:both;border-bottom:1px solid #ccc" class="feed">
              <%= render 'feed', :feedable => feedable, :feed => feed %>
              <% if similar_feeds.size > 1 %>
                <a href='javascript:;' style="clear:both;display: block;text-align: center" class="remain_feed_link">查看<%= similar_feeds.size - 1 %>条类似新鲜事</a>
                <div style="display: none" class="remain_feed">
                  <% similar_feeds.each do |similar_feed| %>
                    <% if similar_feed != feed %>
                      <%= render 'feed', :feedable => feedable, :feed => similar_feed %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %><!-- if -->
        <% end %><!-- elsif -->
      <% end %><!-- each -->
      <div id="loading_div" style="bottom: 0px;position: absolute;clear:both; text-align:center;z-index: 1000;">
      </div>
    </div><!-- span9 -->
    <nav id="page-nav">
      <%= will_paginate  @feeds%>
    </nav>
  </div><!-- row -->
</div><!-- container -->
<script>
$(function(){
  $('.remain_feed_link').click(function(){
    $(this).siblings('.remain_feed').css("display","block");
    $(this).css("display","none");
  });
});
</script>
<script>
$(function(){
  $('.reply_input').click(function(){
    $(this).parent().children(".reply_input_btn").children(".reply_btn").click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

$(function(){
  $('.hide_remain_link').click(function(){
    tmp = $(this).siblings('.reply_status_contents').find('.remain_link').parent("div");
    tmp.css("display","block");
    tmp.siblings(".remain_status").css("display","none");
    $(this).css("display","none");
  });
});
</script>
<script type="text/javascript">

$(function(){
  var $container = $('#feed_container');
  $container.infinitescroll({
    navSelector : '#page-nav',
    nextSelector : 'li.next_page a:first',
    itemSelector : '.feed',
    loading: {
      selector: '#loading_div',
      msgText: "正在加载中...",
      finishedMsg: '没有更多新鲜事了',
      img: '/6RMhx.gif'
    }
  },
  /*
  function(newElements){
    var $newElems = $( newElements ).css({ opacity: 0 });
    $newElems.imagesLoaded(function(){
      // show elems now they're ready
      $newElems.animate({ opacity: 1 });
      $container.masonry( 'appended', $newElems, true );
    });
    var Renren = Renren || {};
    if(!Renren.share){
      Renren.share();
    }
    }
    */
  function(newElements){
    $container.append($(newElements));
  }
  );
});

jQuery(document).ajaxError(function(e,xhr,opt){
  if (xhr.status == 404) jQuery('#').remove();
  });
</script>
<script>
function share_Click(group_name,time,location,activity) {
  var rrShareParam = {
    reply_btnsourceUrl : '',//分享的资源Url
    srcUrl : '',//分享的资源æ<SNR>70_SuperTab('n')
    pic : '',//分享的主题图片Url
    title : '小组'+group_name+'发布了新的活动,求同行',//分享的标题
    description : '时间：'+ time + '地点：'+location+'活动：'+activity//分享的详细描述
  };
  rrShareOnclick(rrShareParam);
}
</script>
