<%= render 'show_head' %>
<div class="container">
  <%= render 'shared/header' %> 
  <div id="personalpage" class="container">
      <%= render 'invitation', :invitations => @following_invitations %>
      <%= render 'groups/group', :groups => @followed_groups %>
  </div><!-- personalpage -->
</div><!-- container -->
<%= render 'users/show_foot' %>
