<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides","bootswatch", "homepage" %>
<% end %>

<% provide(:label,@label) %>

<div class="container">
  <%= render 'shared/header' %>
  <div class="row">
    <div class="span2">
    </div>

    <div class="span10">
      <%= render 'follow_label' %>
      <%= will_paginate  @users%>
      <table class="table table-condensed">
        <% if @users.size != 0 %> 
          <thead>
            <tr>
              <th></th>
              <th>姓名</th>
              <th>现居地</th>
              <th>家乡</th>
              <th></th>
              <th></th>                                      
            </tr>
          </thead>
        <% end %>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= safe_image_tag(user.profile.avatar_url(:small), 'pic1.jpg') %></td>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.profile.location %></td>
            <td><%= user.profile.hometown %></td>
            <td id="follow_form_<%= user.id%>">
              <% @user = user %>
              <% if current_user.following?(user) %>
                <%= render 'shared/unfollow'%>
              <% else %>
                <%= render 'shared/follow' %>
              <% end %>
            </td>
            <td>
              <a data-toggle="modal" href="#" class="btn btn-large send_private_message" 
                type="button" receiver_id="<%= user.id %>" >
                发私信
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate  @users%>
      <%= render 'users/show_foot' %>
    </div><!-- span10 -->
    <%= render 'send_message_modal' %>
  </div>
</div>
<script>
$(function(){
  $(".send_private_message").click(function() {
    $('#private_message_receiver_id').val($(this).attr('receiver_id'));
    $('#send_message_modal').modal('show');
  });
});
</script>
