<header class="jumbotron subhead">
  <div class="row">
    <div class="span9">
      <div class="row">
        <div class="span2">
          <div  class="headphoto" id="headphoto">
            <%
              if @user != current_user
                @user.add_visitor(current_user)
              end
            %>
            <% if @user.profile && @user.profile.avatar.size != 0 %>
              <%= image_tag(@user.profile.avatar_url(:thumb)) %>
            <% else %>
              <%= image_tag("secure.gravatar.com.jpg") %>
            <% end %>
          </div>
          <%= render "shared/stats" %>
        </div>
        <span class="span7 trends-box">
          <div class="content">
            <h3><%= @user.name %></h3>
            <% if @user.profile != nil %>
              <!--
                <span class="school"><%= @user.profile.school %></span>
              -->
              <span class="hometown" style="margin-left: 120px;"><%= @user.profile.hometown %></span>
              <% if current_user == @user %>
                <%= best_in_place @user.profile, :status, :type => :select,
                  :inner_class => "status_select",
                  :path => user_profiles_path(@user), :classes => "user_status",
                  :collection => [["active", "可约"], ["pending", "不可约"]] %>
              <% else %>
                 <span><%= @user.profile.status == "active" ? "可约" : "不可约" %></span>
              <% end %>
            <% end %>
            <div class="divider-horizontal"></div>
            <div class="description">
              <p>
                <%= best_in_place_if @user==current_user, @user.profile, :description, :classes => "user_description",
                  :path => user_profiles_path(@user) , :type => :textarea, :html_attrs => {:maxlength => 140},:nil => "用一句话描述自己吧(最多140个字）..." %>
              </p>
            </div>

            <% if current_user == @user %>
              <%= link_to "创建邀请帖", new_invitation_path, :class => "btn btn-primary header_btn", :id => "create_invitation_btn" %>
              <script type="text/javascript">Renren.init({appId:181208});</script>
              <a href="javascript:sendRequest();" class="btn btn-primary header_btn">邀请人人好友</a>
              <!--
                <%= link_to '绑定人人', user_omniauth_authorize_path("xiaonei")%>
                -->
            <% else %>
              <div style="margin-top: 100px;">
                <div class="pull-left" style="margin-right: 20px">
                  <%= render 'shared/follow_form' %>
                </div>
                <div>
                  <a data-toggle="modal" href="#send_message_modal" class="btn send_private_message"
                    type="button" receiver_id="<%= @user.id %>">
                    发私信
                  </a>
                  <%= render 'users/send_message_modal' %>
                </div>
              </div>
            <% end %>
          </div>
        </span>
      </div>
    </div>
    <div class="span3">
      <div id="latest_invitor" class="personalpage_left">
        <span class="pull-left" style="margin-bottom: 5px;">最近来访（<%= @user.extra_info.counts.to_i%>）</span>
        <% if current_user == @user %>
          <span class="pull-right latest_invitor_more"><%= link_to '更多', visitors_user_path(@user) %></span>
        <% end %>
          <div class="row" style="clear:both">	
        <% 
          if @user.extra_info == nil
            @user.extra_info = @user.create_extra_info()
          end
          if @user.extra_info.visitors == nil 
            @user.extra_info.visitors = ""
          end
          visitors_array = @user.extra_info.visitors.split(",")
          if visitors_array.size > 6
            visitors_array = visitors_array[0..5]
          end
        %>

        <% visitors_array.each do |visitor_id| %>
          <% 
              begin
                visitor = User.find(visitor_id.to_i)
              rescue
                next
              end
          %>
          <div class="span1 latest_visitors">
            <%= link_to(user_path(visitor),:title => visitor.name, :rel => 'tooltip') do%>
              <% if visitor.profile.sex == '男' %>
                <%= safe_image_tag(visitor.profile.avatar_url(:mini), 'boy.jpg') %>
              <% else %>
                <%= safe_image_tag(visitor.profile.avatar_url(:mini), 'girl.jpg') %>
              <% end %>

            <% end %>
          </div>
        <% end %>

        </div>

      </div>
    </div>
  </div>

  <div class="subnav" style="background-color:#FAF7F7">
    <ul class="nav nav-pills">
      <% if current_user == @user %>
      <li><%= link_to "好友动态", following_invitations_user_path(@user) %></li>
    <li class="dropdown">
    <%= link_to(my_invitations_user_path(@user), :data=> { :toggle => "dropdown"}, :class=>"dropdown-toggle") do %>
        我的动态<b class="caret"></b>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to "我的动态", my_invitations_user_path(@user) %></li>
        <li><%= link_to "收到的回帖", received_invitations_user_path(@user) %></li>
        <li><%= link_to "未处理的请求", pending_requests_user_path(@user) %></li>
      </ul>
      </li>
    <% else %>
        <li><%= link_to "动态", my_invitations_user_path(@user) %></li>
    <% end %>

      <li class="dropdown"><a href="personalpage.html" class="dropdown-toggle" data-toggle="dropdown">人脉<b class="caret"></b></a>
      <ul class="dropdown-menu" id="swatch-menu">
        <li><%= link_to "关注", following_user_path(@user) %></li>
        <li><%= link_to "粉丝", followers_user_path(@user) %></li>
        <li><%= link_to "好友", friends_user_path(@user) %></li>
      </ul>
      </li>
      <li style="margin-left:300px"><%= link_to "Groups", groups_user_path(@user)%></li>
      <li><%= link_to "资料", user_profiles_path(@user) %></li>
      <li><%= link_to "个人show", albums_user_path(@user) %></li>
    </ul>
  </div>
</header>
<script type="text/javascript">
function sendRequest() {
  var uiOpts = {
    url : "request", 
    display : "popup",
    params : {
      "accept_url":"http://www.aizuju.com",//接受邀请按钮url
      "accept_label":"接受",
      "actiontext":"邀请好友一起来玩"
    },
     onSuccess: function(r){}, 
     onFailure: function(r){}
  };
  Renren.ui(uiOpts); 
}

$('.latest_visitors a').tooltip();
</script>
<script>
$(function(){
  $(".send_private_message").click(function() {
    $('#private_message_receiver_id').val($(this).attr('receiver_id'));
//    $('#send_message_modal').modal('show');
  });
});
</script>
