<header class="jumbotron subhead">
  <div class="row">
    <div class="span9">
      <div class="row">
        <div class="span2">
          <div  class="headphoto">
            <%= image_tag("secure.gravatar.com.jpg") %>
          </div>
          <%= render "shared/stats" %>
          <%= render 'shared/follow_form' %>
        </div>
        <span class="span7 trends-box">
          <div class="content">                        
            <h3>罗健明</h3>
            <span class="school">清华大学</span>
            <span class="hometown">湖南</span>
            <span class="state">可预约</span>
            <div class="divider-horizontal"></div>
            <div class="description">
              <input type="text" class="span6" placeholder="用一句话描述自己吧..." onClick="displayInputArea()" >
              <i class="icon-edit"></i>
            </div>
          </div>
        </span>
      </div>          
    </div>
    <div class="span3">
      <div id="latest_invitor" class="personalpage_left">
        <span class="pull-left">最近来访</span>
        <span class="pull-right latest_invitor_more">更多</span>
        <div class="row" style="clear:both">          	
          <div class="span1">
            <%= image_tag("pic4.jpg") %>
            <label>马志华</label>
          </div>
          <div class="span1">
            <%= image_tag("pic3.jpg") %>
            <label>马志华</label>
          </div>
          <div class="span1">
            <%= image_tag("pic2.jpg") %>
            <label>马志华</label>
          </div>
        </div>
        <div class="row">

          <div class="span1">
            <%= image_tag("pic4.jpg") %>
            <label>马志华</label>
          </div>
          <div class="span1">
            <%= image_tag("pic3.jpg") %>
            <label>马志华</label>
          </div>
          <div class="span1">
            <%= image_tag("pic2.jpg") %>
            <label>马志华</label>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="subnav" style="background-color:#FAF7F7">
    <ul class="nav nav-pills">

      <li class="dropdown"><a href="personalpage.html" class="dropdown-toggle" data-toggle="dropdown">动态<b class="caret"></b></a>
      <ul class="dropdown-menu" id="swatch-menu">
        <li><a href="../amelia">好友动态</a></li>
        <li><a href="../cerulean">我的动态</a></li>
      </ul>
      </li>
      <li class="dropdown"><a href="personalpage.html" class="dropdown-toggle" data-toggle="dropdown">人脉<b class="caret"></b></a>
      <ul class="dropdown-menu" id="swatch-menu">
        <li><%= link_to "关注", following_user_path(@user) %></li>
        <li><%= link_to "粉丝", followers_user_path(@user) %></li>
        <li><%= link_to "好友", friends_user_path(@user) %></li>
      </ul>
      </li>
      <li><a href="grouppage.html">Groups</a></li>
      <li style="margin-left:300px"><a href="personal_information.html">资料</a></li>
      <li><a href="dailynote.html">日志</a></li>
      <li><a href="album.html">相册</a></li>
    </ul>
  </div>

</header>
