<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "style", "homepage" %>
<% end %>
<% content_for :subnav do %>
  <%= render 'layouts/subnavigation' %>
<% end %>
<div class="container" id="container">
  <%= render 'users/invitation', :invitations => @invitations %>
  <input class="btn" value="点此加载" id="load" />
  <%= render 'users/show_foot' %>
</div>
<nav id="page-nav">
  <%= will_paginate  @invitations%>
</nav>

<script>
$('#load').click(function(){
  $.ajax({
    type: "get",
    url: "http://127.0.0.1:3000",
    success: function(data) {
      var $res = $(data).find('.item');
      $('#container').append($res).masonry('appended', $res);
    }

  })
});
</script>
<script type="text/javascript">
$(function(){

  $('#container').imagesLoaded(function(){
    $('#container').masonry({
      // options
      itemSelector : '.item',
      columnWidth : 235
    });
  });

  $('#container').infinitescroll({
    navSelector : '#page-nav div.pagination ul',
    nextSelector : '#page-nav div.pagination ul li.next_page a:first',
    itemSelector : '.item',
    
    loading: {
      finishedMsg: 'No more pages to load.',
      img: 'http://i.imgur.com/6RMhx.gif'
    }
  },

  function(newElements) {
    var $newElems = $(newElements).css({ opacity: 0 });
    $newElems.imagesLoaded(function(){
      $newElems.animate({opacity: 1 });
      $('#container').masonry('appended', $newElems, true);
    });
  });
});
</script>
<script type="text/javascript">

$(document).ready(function(){
  $("div.item").children(".actions").hide();
  $("div.item").mouseout(function(){
    $(this).children(".actions").hide();
  });
  $("div.item").mouseover(function(){
    $(this).children(".actions").show();
  });
});
</script>
<script>
	$('.members ul li').tooltip({
      selector: "a[rel=tooltip]"})
</script>
