<%
    contactor_id = @original_private_message.sender_id==current_user.id ? @original_private_message.receiver_id : @original_private_message.sender_id
    contactor = User.find(contactor_id)
%>
  <% private_messages.each do |private_message| %>
    <div class="message row">
    <div class="span1">
      <% if private_message.sender_id != current_user.id %>
        <%= link_to(user_path(contactor), :target => "_blank") do %>
          <% if contactor.profile.sex == '男' %>
            <%= safe_image_tag(contactor.profile.avatar_url(:mini), 'boy.jpg') %>
          <% else %>
            <%= safe_image_tag(contactor.profile.avatar_url(:mini), 'girl.jpg') %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="span7 message_body">
      <div class="message-right">
        <div class="message-right-top">
          <span><%= private_message.sender.name %>:</span>
          <%= private_message.content %>
        </div>

        <div class="message-right-bottom">
          <span class="message-created-time">
            <%= private_message.created_at.strftime("%Y-%m-%d %H:%M") %>
          </span>
        </div>
      </div>
    </div>

    <div class="span1">
      <% if private_message.sender_id == current_user.id %>
          <% if current_user.profile.sex == '男' %>
            <%= safe_image_tag(current_user.profile.avatar_url(:mini), 'boy.jpg') %>
          <% else %>
            <%= safe_image_tag(current_user.profile.avatar_url(:mini), 'girl.jpg') %>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>

