<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style", "bootstrap_and_overrides", "bootswatch", "chosen" %>
<% end %>
<div class="container">
  <div class="row">

    <div class="span9">
      <h4>创建活动</h4>
      <%= link_to '返回', user_path(current_user) %>
  <%= simple_form_for(@invitation) do |f| %>
    <%
        time_collection = []
        for i in 0..6
          time_collection[i] = (Time.now+i*24*3600).strftime("%Y-%m-%d")
        end
    %>
    <div class="form-inputs">
      <%= f.association :initiate_group, :collection => current_user.active_groups,
        :prompt => "请选择你的一个小组", :label => "小组"%>
      <div class="control-group required">
        <label class="control-label required"><abbr title="required">*</abbr> 活动时间</label>
        <div class="controls">
          <%= f.select(:time, time_collection,
                       {},
                       {:class => "time-select"}
                      ) -%>
        </div>
      </div>

      <div class="control-group required">
        <label class="control-label required"><abbr title="required">*</abbr>活动类型</label>
        <div class="controls">
          <%= f.select(:invitation_type, ApplicationHelper::INVITATION_TYPE,
                       {},
                       {:class => "type-select"}
                      ) -%>
        </div>
      </div>
      <%= f.input :location, :label => "活动地点" %>
      <%= f.input :activity, :label => "活动" %>
      <div class="control-group required">
        <label class="control-label required"><abbr title="required">*</abbr>活动费用</label>
        <div class="controls">
          <%= f.select(:fee, [["举办者付费",'public'],["免费",'free'],["AA",'AA']],
                       {},
                       {:class => "fee-select"}
                      ) -%>
        </div>
      </div>
      <%= f.input :image, :label => "请上传宣传照" %>
      <%= f.input :description, :label => "详情", :as => :text,
                  :input_html => {:rows => 3} %>
      <%= f.hidden_field :status, :value => "pending" %>
    </div>

    <div class=form-actions">
      <%= f.submit '创建', :class => 'btn'%>
    </div>
  <% end %>
</div>
  </div>
</div>
<script>
  $(".time-select").chosen();
  $(".chzn-container").css('width', '220px');
  $(".type-select").chosen();
  $(".fee-select").chosen();
</script>
<script>
  $(".time-select").chosen();
  $(".chzn-container").css('width', '220px');
  $(".type-select").chosen();
</script>
