<script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
<div class="container">
  <%
    tips = current_user.tips.select_tips_by_tip_type_and_tipable_id("invitation_comments",@invitation.id)
    tips = tips | current_user.tips.select_tips_by_tip_type_and_tipable_id('Invitation_create',@invitation.id)
    tips = tips | current_user.tips.select_tips_by_tip_type_and_tipable_id('Group_applied', @invitation.id)
    tips.each do |tip|
      tip.destroy
    end
    initiate_group = @invitation.initiate_group
  %>
  <div class="row">
    <div class="span9">
      <div class="pull-left invitation_photo" style="margin-right: 20px;">
        <%= image_tag @invitation.image_url(:big) %>
      </div>
      <a name="xn_share" onclick="share_Click('<%= initiate_group.name%>','<%= @invitation.time%>','<%= @invitation.location%>','<%= @invitation.activity %>')" class="pull-right" type="icon" href="javascript:;">
      </a>
      <% if @invitation.status != "active" %>
        <% if can? :aplied_groups, @invitation %>
          <%= link_to '申请该活动的群组', applied_groups_invitation_path(@invitation), :class => "pull-right" %>
        <% end %>
        <a class="pull-right" href="#appliedModal_<%=@invitation.id%>" data-toggle="modal" style="margin-right: 20px;">
          <span>参与</span>
        </a>
      <% else %>
        <div class="pull-right">
          <span style="font-size: 20px;color:#00ff00;margin-right:20px;">已激活</span>
          <% group_invitationship = GroupInvitationship.find_by_invitation_id(@invitation.id) %>
          <%= link_to '前往', group_invitationship_path(group_invitationship) %>
        </div>
      <% end %>
        <%= render 'shared/applied_invitation_modal', :invitation => @invitation %>
        <%= render 'group_invitationships/invitation_info', :invitation => @invitation, :initiate_group => @invitation.initiate_group%>
      <div class="pull-left" style="clear:both;margin-top:10px;margin-bottom:10px;">
        <% if @invitation.description.to_s.size > 0 %>
          活动详情：<%= @invitation.description %>
        <% end %>
      </div>
      <%= render 'groups/show_group', :group => @invitation.initiate_group %>
      <span class="pull-right" style="display: none">
        <%= link_to "评论", new_invitation_comment_path(@invitation, :type => "invitation_comment"),
          :id => "comment_btn", :remote => true %>
      </span>
      <div style="font-size: 16px;margin-top: 10px;">评论：</div>
      <% comments = @invitation.comments %>
      <%= render 'comments/show_comments', :comments => comments %>
      <input class="span9 reply_input" placeholder="评论..." style="display: block;">
      <div id="reply_form">
      </div>
    </div>

    <div class="span3">
    </div>
  </div>
</div>
<script>
$(function(){
  $('#comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});
$(function(){
  $('.reply_input').click(function(){
    $('#comment_btn').click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
  });
});

$(function(){
  $('.hide_remain_link').click(function(){
    tmp = $(this).siblings('.reply_status_contents').find('.remain_link').parent("div");
    tmp.css("display","block");
    tmp.siblings(".remain_status").css("display","none");
    $(this).css("display","none");
  });
});
</script>
<script>
function share_Click(group_name,time,location,activity) {
  var rrShareParam = {
    reply_btnsourceUrl : '',//分享的资源Url
    srcUrl : '',//分享的资源æ<SNR>70_SuperTab('n')
    pic : '',//分享的主题图片Url
    title : '小组'+group_name+'发布了新的活动,求同行',//分享的标题
    description : '时间：'+time+'地点：'+location+'活动：'+activity//分享的详细描述
  };
  rrShareOnclick(rrShareParam);
}
</script>
