<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "bootswatch", "albums" %>
<% end %>
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="album_header">
        <h2>我的相册-<%= @album.name %></h2>
        <%= link_to '修改相册属性', edit_album_path(@album) ,:class => "album_edit_link"%> |
        <%= link_to '返回相册首页', albums_user_path(current_user) %>
      </div><!-- album_header -->
      <div id="photos">
        <% for photo in @album.photos %>
          <%= render 'photos/photo', :photo => photo %>
      <% end %>
      </div>
      <div class="clear" style="clear:both;"></div>
    </div><!-- span9 -->

    <div class="span3">
      <%= simple_form_for Photo.new(album_id: @album.id) do |f| %>
        <%= f.label :image, "上传照片：" %>
        <%= f.file_field :image, multiple: true, name: "photo[image]" %>
        <%= f.hidden_field :album_id %>
      <% end %>
    </div>
  </div><!-- row -->
</div><!--container -->
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%;"></div>
</div>
</script>
