<h2>Sign in</h2>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
<% end %>
<ul>
  <li><%= link_to "Douban", user_omniauth_authorize_path(:douban) %> </li>
  <li><%= link_to "Weibo", user_omniauth_authorize_path(:weibo) %> </li>
</ul>
<%= render "devise/shared/links" %>
