<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "bootswatch", "albums" %>
<% end %>
<div class="container">
  <div class = "row">
    <div class="span9">
      <div class="photo_header">
        <% 
            unread_photo_comments = @photo.photo_comments.unread_reply_comments(current_user)
            unread_photo_comments.each do |comment|
              comment.status = "read"
              comment.save
            end
        %>
      <%
          album = @photo.album
        photos = album.photos
        num = photos.index(@photo)
      %>
      <h2>我的相册-<%= album.name %></h2>
        <span>第<%= num+1%>张/共<%=photos.size%>张</span>
        <%= link_to '上一张', photo_path(photos[(num+photos.size-1)%(photos.size)]),
          :class => "pre_photo"%>/
          <%= link_to '下一张', photo_path(photos[(num+1)%(photos.size)]) %>
          <%= link_to '返回相册', album_path(album), :class => "pull-right" %>
        </div>
        <%= image_tag @photo.image_url(:big) %>
        <p>
        <%= best_in_place_if album.user==current_user, @photo, :description, type: :textarea,
          :nil => "输入照片描述", :classes => "photo_description" %>
        </p>
        <% if current_user != album.user %>
          <span class="pull-right">
            <%= link_to "评论", new_photo_photo_comment_path(@photo), :id => "photo_comment_btn", :remote => true %>
          </span></br>
        <% end %>
        <p>上传于<%= @photo.created_at.to_s.split(" ")[0]%></p>
        <div id='comments'>
          <% @photo.photo_comments.each do |comment| %>
            <%= render('photos/comment', :comment => comment) %>
          <% end %>
        </div>
        <div id="photo_reply">
          <%= render('photos/photo_reply_form') %>
        </div>
    </div><!-- span9 -->
  </div> <!-- row -->
</div><!-- container -->
<script type="text/javascript">
$(function(){
  $('#photo_comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});
</script>
