<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap_and_overrides", "bootswatch", "albums" %>
<% end %>
<%
    tips = current_user.tips.select_tips_by_tip_type_and_tipable_id("photo_comments", @photo.id)
tips.each do |tip|
  tip.destroy
end
%>
<div class="container">
  <div class = "row">
    <div class="span9">
      <div class="photo_header">
      <%
          album = @photo.album
          photos = album.photos
          num = photos.index(@photo)
      %>
      <% if album.user != current_user %>
        <h2><%= album.user.name %>的相册-<%= album.name %></h2>
      <% else %>
        <h2>我的相册-<%= album.name %></h2>
      <% end %>
        <span>第<%= num+1%>张/共<%=photos.size%>张</span>
        <%= link_to '上一张', photo_path(photos[(num+photos.size-1)%(photos.size)]),
          :class => "pre_photo"%>/
          <%= link_to '下一张', photo_path(photos[(num+1)%(photos.size)]) %>
          <%= link_to '返回相册', album_path(album), :class => "pull-right" %>
      </div><!-- photo_header -->
        <%= link_to  photo_path(photos[(num+1)%(photos.size)]) do %>
          <%= image_tag @photo.image_url(:big) %>
        <% end %>
        <p>
        <%= best_in_place_if album.user==current_user, @photo, :description, type: :textarea,
          :html_attrs => {:maxlength => 100},
          :nil => "输入照片描述(最多100个字)", :classes => "photo_description" %>
        </p>
        <p>上传于<%= @photo.created_at.to_s.split(" ")[0]%></p>
          <span class="pull-right" style="display: none">
            <%= link_to "评论", new_photo_comment_path(@photo, :type => "photo_comment"), 
                :id => "comment_btn", :remote => true %>
          </span>
          <div id='comments'>
          <% comments = @photo.comments %>
          <% if comments.size >= 1 %>
            <%= render('model_comments/comment', :comment => comments[0]) %>
          <% end %>
          <% if comments.size > 2 %>
            <div style="clear:both;margin-top: 10px;margin-bottom: 10px;display: block">
              <a href="javascript:;" class="remain_link"> 还有<%=(comments.size-2).to_s%>条回复</a>
            </div>
            <div style="display: none" class="remain_status">
              <% comments.each do |comment| %>
                <% if comment != comments[0] && comment != comments[comments.size-1] %>
                  <%= render('model_comments/comment', :comment => comment) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% if comments.size >= 2 %>
            <%= render('model_comments/comment', :comment => comments[comments.size-1]) %>
          <% end %>
        </div>
        <input class="span9 reply_input" placeholder="评论..." style="display: block;">
        <div id="reply_form">
        </div>
    </div><!-- span9 -->
  </div> <!-- row -->
</div><!-- container -->
<script type="text/javascript">
$(function(){
  $('#comment_btn').click(function(){
      $('#content').focus();
//    $('#content').click();
  });
});

$(function(){
  $('.reply_input').click(function(){
    $('#comment_btn').click();
    $(this).remove;
  });
});
$(function(){
  $('.remain_link').click(function(){
    $(this).parent('div').siblings('.remain_status').css("display","block");
    $(this).parent('div').css("display","none");
    $(this).parents('.reply_status_contents').prev('a').css("display","block");
 //   document.body.scrollTop = document.body.scrollHeight;
  });
});
</script>
