<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!--
        <%= link_to image_tag("aizuju_zn.jpg"), root_path, :class => 'logo_brand' %>
      -->

      <div class="nav-collapse">
        <%= link_to '爱组局', root_path, :class => "pull-left logo_style" %>
        <% if user_signed_in? %>
          <%= render 'layouts/signed_in_nav' %>
        <% end %>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span style="margin-right:10px;color: #ff0000"><%= current_user.name %></span>
                <i class="icon-envelope"></i>
                <span id="unread_logo" style="color: #ff0000;display:none">新</span>
              </a>
              <% flag = 0 %>
              <ul class="dropdown-menu">
                <li>
                <%= link_to(my_private_messages_user_path(current_user)) do %>
                  私信
                  <% unread_messages_count = PrivateMessage.unread_messages(current_user).size %>
                  <% if unread_messages_count > 0 %>
                    <% flag = 1 %>
                    <span style="margin-left: 40px; color: red;"> <%=unread_messages_count %>条未读 </span>
                  <% end %>
                <% end %>
                </li>
                <% unread_followed_message = Relationship.find_all_by_followed_id_and_status(current_user.id,"pending") %>
                <% if unread_followed_message.size > 0 %>
                  <% flag = 1 %>
                  <li>
                    <%= link_to(latest_followers_user_path(current_user)) do %>
                      <span>有<%= unread_followed_message.size %>个人关注了你</span>
                    <% end %>
                  </li>
                <% end %>
                <% unread_photo_comments = PhotoComment.unread_reply_comments(current_user)%>
                <% if unread_photo_comments.size > 0%>
                  <% flag = 1 %>
                  <% unread_photo_comments.each do |comment|%>
                  <li>
                    <%= link_to(photo_path(comment.photo)) do %>
                      <span><%=comment.sender.name%>在照片<%=comment.photo.name%>中回复了你</span>
                    <% end %>
                  </li>
                  <% end %>
                <% end %>
                <% unprocessed_invite = GroupMembership.unprocessed_invite(current_user) %>
                <% if unprocessed_invite.count > 0%>
                  <% flag = 1 %>
                  <li>
                    <%= link_to(pending_requests_user_path(current_user)) do %>
                      你收到了<span><%= unprocessed_invite.count%></span>条邀请
                    <% end %>
                  </li>
                  <% end %>

                <% @ships = GroupInvitationship.find_received_invitations_by_user(current_user) %>
                <% @ships.keys.each do |invitation_key| %>
                  <li>
                    <% if @ships[invitation_key].blank? != true %>
                    <% flag = 1 %>
                    <% invitation = Invitation.find(invitation_key) %>
                    <%= link_to received_invitations_user_path(current_user) do%>
                    <p>活动<%= invitation.time%>于<%=invitation.location%><%=invitation.activity%>
                      有未处理的请求
                    </p>
                    <% end %>
                    <%end%>
                  </li>
                <% end %>

                <% current_user.tips.each do |tip| %>
                  <li>
                    <% flag = 1 %>
                    <% if tip.tip_type == "group_membership" %>
                      <%= link_to groups_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "group_invitationship" %>
                      <%= link_to sended_requests_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "invitation" %>
                      <%= link_to participate_activities_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "group_invitationship_create" %>
                      <%= link_to received_invitations_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "group_has_applied_invitation_tip" %>
                      <%= link_to participate_activities_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "apply_group_groupship" %>
                      <%= link_to sended_requests_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "target_group_groupship" %>
                      <%= link_to received_invitations_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "target_accept_groupship" %>
                      <%= link_to participate_activities_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "apply_accept_groupship" %>
                      <%= link_to participate_activities_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tip_type == "add_members_tip" %>
                      <%= link_to groups_user_path(current_user) do %>
                        <p><%=tip.content %></p>
                      <% end %>
                    <% elsif tip.tipable_type == "DynamicStatus" %>
                      <%
                          sender = User.find(tip.sender_id)
                          status = DynamicStatus.find(tip.tipable_id)
                      %>
                      <%= link_to dynamic_status_path(status) do %>
                        <p><%= sender.name %>在状态<span style="color: red"><%= status.content.slice(0,6)%>...</span>中回复了你</p>
                      <% end %>
                    <% elsif tip.tipable_type == "Photo" %>
                      <%
                          sender = User.find(tip.sender_id)
                          photo = Photo.find(tip.tipable_id)
                      %>
                      <%= link_to photo_path(photo) do %>
                        <p><%= sender.name %>在照片<span style="color: red"><%= photo.name.slice(0,6)%>...</span>中回复了你</p>
                      <% end %>
                    <% elsif tip.tipable_type == "Invitation" %>
                      <%
                          sender = User.find(tip.sender_id)
                          invitation = Invitation.find(tip.tipable_id)
                      %>
                      <%= link_to invitation_path(invitation) do %>
                        <p><%= sender.name %>在<span style="color: red"><%= invitation.time %></span>的活动中回复了你</p>
                      <% end %>
                    <% elsif tip.tipable_type == "Group" %>
                      <%
                          sender = User.find(tip.sender_id)
                          group = Group.find(tip.tipable_id)
                      %>
                      <%= link_to group_path(group) do %>
                        <p><%= sender.name %>在群组<span style="color: red"><%= group.name.slice(0,6)%></span>中回复了你</p>
                      <% end %>
                    <% elsif tip.tipable_type == "GroupInvitationship" %>
                      <%
                          sender = User.find(tip.sender_id)
                          group_invitationship = GroupInvitationship.find(tip.tipable_id)
                      %>
                      <%= link_to group_invitationship_path(group_invitationship) do %>
                        <p><%= sender.name %>在群组<span style="color: red"><%= group.name.slice(0,6)%></span>中回复了你</p>
                      <% end %>
                    <% elsif tip.tipable_type == "GroupGroupship" %>
                      <%
                          sender = User.find(tip.sender_id)
                          group_groupship = GroupGroupship.find(tip.tipable_id)
                      %>
                      <%= link_to group_groupship_path(group_groupship) do %>
                        <p><%= sender.name %>在<span style="color: red"><%= group_groupship.time%></span>的活动中回复了你</p>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
            <% if flag == 1 %>
              <!--
              <li class="red_logo">
                <%= image_tag("red_logo.png") %>
              </li>
              -->
              <script>
                $('#unread_logo').css("display","inline");
              </script>
            <% else %>
              <script>
                $('#unread_logo').css("display","none");
              </script>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to '个人主页', user_path(current_user) , :method => 'get' %>
                </li>
                <li>
                  <%= link_to '退出', destroy_user_session_path, :method=>'delete' %>        
                </li>
                <li>
                  <%= link_to '更新帐号', edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to '编辑资料', edit_user_profiles_path(current_user) %>
                </li>
                <% if current_user.has_role? :admin %>
                  <li>
                    <%= link_to '管理', users_path %>
                  </li>
                <% end %>
               </ul>
             </li>
           <% else %>
             <li>
                <%= link_to '登录', new_user_session_path %>  
             </li>
             <li>
                <%= link_to '注册', new_user_registration_path %>
             </li>
           <% end %>
           <% if controller_name == "home" && action_name == "about" %>
             <li class="active">
                <%= link_to '关于', home_about_path, :class => "stress" %>
             </li>
           <% else %>
             <li>
                <%= link_to '关于', home_about_path, :class => "stress" %>
             </li>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
/*
$(function(){
$("li.dropdown").children("a").mouseover(function(){
  $(this).click();
  });
*/
/*
$("li.dropdown").mouseout(function(){
  $("body").click();
  });
 */
</script>
