<div class="nav-menu">
  <%= form_tag invitations_path, :method => "get" do %>
  <ul class="container">


<!--
    <li class="dropdown">
    <%= text_field_tag :sex, params[:sex], :id => "sex_value", :type => "hidden"%>
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
        <% if params[:sex]==nil || params[:sex].size==0%>
          性别不限
        <% else %>
           <%= params[:sex] %>
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" id="swatch-menu">
        <%= render 'layouts/sex' %>
        <li class="divider"></li>
      </ul>
    </li>
-->

    <li class="dropdown">
    <%= text_field_tag :city, params[:city], :id => "city_value", :type => "hidden"%>
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
        <% if params[:city]==nil || params[:city].size==0%>
          全国
        <% else %>
          <%= params[:city] %>
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" id="swatch-menu">
        <%= render 'layouts/hot_cities' %>
        <li class="divider"></li>
      </ul>
    </li>


    <li class="dropdown">
      <%= text_field_tag :time, params[:time], :id => "time_value", :type => "hidden"%>
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
        <% if params[:time]==nil || params[:time].size==0%>
          时间不限
        <% else %>
          <%= params[:time] %>
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" id="swatch-menu">
        <%= render 'layouts/active_time' %>
        <li class="divider"></li>
      </ul>
    </li>


    <li class="dropdown">
      <%= text_field_tag :member_counts, params[:member_counts], :id => "member_counts_value", :type => "hidden"%>
      <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
        <% if params[:member_counts]==nil || params[:member_counts].size==0%>
          人数不限
        <% else %>
          <%= params[:member_counts] %>
        <% end %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" id="swatch-menu">
        <%= render 'layouts/member_counts' %>
        <li class="divider"></li>
      </ul>
    </li>
    <li><%= link_to '全部', root_path %></li>
  </ul>
  <input type="submit" value="搜索" name="commit" id="invitations_search_submit" style="display: none">
<% end %>
</div><!--navbar navbar-fixed-top-->
<div class="container" style="margin-bottom:10px;z-index: 1034;margin-top: -30px">
  <a href="#" class="btn btn-large btn-danger" data-toggle="popover" data-placement="bottom"
     data-content="爱组局是一专注于group对group约会的社交网站，
     每个人都只能和自己身边的好友组建成group进而与其他group进行约会，等待就是浪费青春，
     赶快加入我们吧" title="爱组局" style="margin-left: 410px;">
    网站简介
  </a>
</div>
<script>
$(function(){
    $("a[data-toggle=popover]")
      .popover()
      .click(function(e) {
        e.preventDefault()
  })
});

</script>
