<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="qc:admins" content="043221116767275041456375" />
    <title><%= content_for?(:title) ? yield(:title) : "爱组局" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "爱组局" %>">
    <% if content_for?(:stylesheet) %>
      <%= yield(:stylesheet) %>
    <% else %>
      <%= stylesheet_link_tag "bootstrap_and_overrides","bootswatch","log", "homepage" %>
    <% end %>
    <% if content_for?(:javascript) %>
      <%= yield(:javascript) %>
    <% else %>
      <%= javascript_include_tag "application" %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <% if browser.ie6? %>
    <div class="container">
      <p style="font-size:20px;margin: auto;">糟糕，您的浏览器版本过低（IE6），为增强您的用户体验性，请升级您的浏览器或者换成其他浏览器哦</p>
    </div>
  <% else %>
    <%= render 'layouts/navigation' %>
    <%= yield(:subnav) %>
    <div id="messages">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
    <div style="height:30px;margin-top:20px;">
      <% if current_user %>
      <span id="current_user_id" style="display: none"><%= current_user.id %></span>
      <% end %>
    </div>
  <% end %>
  </body>
</html>
